.pfbannerbg {box-shadow: none!important;border: none!important;border-radius: 0px!important;background: url(../../assets/images/platformfeatures_banner.jpg) #faf7f4 no-repeat right bottom!important;position: relative!important;min-height: 511px;display: -webkit-box;display: flex;-webkit-box-align: center;align-items: center;background-size: cover !important}
.platformfeatures_block2 {box-shadow: none!important; border: none!important; border-radius: 0px!important; background:url("../../assets/images/pltformfeaturesb2imgbg.jpg") #faf7f4 no-repeat left top!important; position: relative!important;  }
.platformfeatures_block2 .contentblockleft {padding-left: 38px; margin-bottom: 0px}
.platformfeatures_block3 {border-radius: 0; box-shadow: none!important; display: flex; justify-content: center; align-items: center;background: url("../../assets/images/platformfeatures_block3_leftbg.png") left top no-repeat, url("../../assets/images/platformfeatures_block3_rightbg.png") right top no-repeat, #f3bc85; position: relative}
.platformfeatures_block3.generalcls .mat-card-title {margin-bottom: 0px !important; color: #fff;font-family: 'RobotoBold'!important;font-size: 48px!important; line-height: normal !important; text-align: center}
.platformfeatures_block4 {display: flex; justify-content: center; align-items: center; background: url("../../assets/images/home_block5_bg1.png") left -17% center no-repeat, url("../../assets/images/home_block5_bg1.png") right -12% bottom -57% no-repeat,#ecebea; position: relative; text-align: center;}
.platformfeatures_block4 p {font-family: "Montserrat_light"; font-size:30px;line-height:36px; margin-top: 18px; text-align: left;}

.platformfeatures_block4 .parent {align-items: flex-start}
.platformfeatures_block4_img {margin-top: -67px}
.platformfeatures_block4_content {margin-bottom: 0px}
.platformfeatures_block4_bottom .parent {justify-content: space-between; align-items: stretch}
.platformfeatures_block4_bottom .parent .child {width: 32%; background-color: #fff; border: 1px solid #f5c18e}
.generalcls .platformfeatures_block4_bottom .mat-card-title {background-color: #f3bc85;margin-bottom: 0px!important; font-size: 25px!important;line-height: 30px!important;}
.generalcls .platformfeatures_block4_bottom .mat-card-title span {padding: 18px 27px;display: inline-block}
.generalcls .platformfeatures_block4_bottom .mat-list {padding: 30px}
.generalcls .platformfeatures_block4_bottom .mat-list .mat-list-item {height: auto}
.platformfeatures_block5.generalcls .mat-card-subtitle {max-width: 67%;margin: 0 auto; text-align: center;position: relative}
.platformfeatures_block5_content {margin-top: 0%}
.platformfeatures_block5_content:nth-child(odd) .parent .child:nth-child(1) {order: 2}
.platformfeatures_block5_content:nth-child(odd) .parent .child:nth-child(2) {order: 1}
.platformfeatures_block5_content:nth-child(odd) .parent .child:nth-child(2) img {margin-left: -20%; float: left}
.platformfeatures_block5_content:nth-child(even) .parent .child:nth-child(2) img {margin-right: -21%; float: right}
.platformfeatures_block5_content:nth-child(even) {margin-top: -9%}
.platformfeatures_block5_bottom .parent {justify-content: space-between; align-items: stretch}
.platformfeatures_block5_bottom .parent .child {width: 50%; background-color: #161616; border: 1px solid #161616; padding: 31px 39px; position: relative}
.platformfeatures_block5_bottom .parent .child:nth-child(1):after {content: ""; background: #5e5e5e;height: 80%;width: 2px;position: absolute;right: 0;top: 10%}
.generalcls .platformfeatures_block5_bottom .mat-card-title {margin-bottom: 0px!important; color:#ffffff}
.platformfeatures_block5_bottom {margin-top: -11%}
.platformfeatures_block5.generalcls .platformfeatures_block5_bottom .mat-list .mat-list-item {color: #fff}
.platformfeatures_block5_content:nth-child(2) .parent .child:nth-child(1) {flex-basis:59%}
.platformfeatures_block5_content:nth-child(2) .parent .child:nth-child(2) {flex-basis:41%}
.platformfeatures_block5_content:nth-child(2) .parent .child:nth-child(2) img {margin-right: -23%;float: right;max-width: 113%;}
.platformfeatures_block6 {box-shadow: none!important;border: none!important;border-radius: 0px!important;background: url(../../assets/images/platformfeatures_block6_bg.jpg) #faf7f4 no-repeat left center!important;position: relative!important;min-height: 511px;background-size: cover !important}
.platformfeatures_block6.generalcls .mat-card-subtitle {max-width: 66%;margin: 0 auto; text-align: center;position: relative}
.platformfeatures_block6_content {background-color: #fff;margin-top: 0px;display: inline-block;width: 100%}
.platformfeatures_block6_content:nth-child(odd) .parent .child:nth-child(1) {order: 2}
.platformfeatures_block6_content:nth-child(odd) .parent .child:nth-child(2) {order: 1}
.platformfeatures_block6_content:nth-child(odd) .parent .child:nth-child(2) img {margin-left: 0%; float: left}
.platformfeatures_block6_content:nth-child(even) .parent .child:nth-child(2) img {margin-right: 0%; float: right}
.platformfeatures_block6_content:nth-child(even) .parent .child:nth-child(1) {padding-left: 65px}
.platformfeatures_block6_content:nth-child(odd) .parent .child:nth-child(1) {padding-right: 65px}
.platformfeatures_block6.generalcls .mat-card-title:nth-child(1) {margin-top: 4px !important}
.platformfeatures_block7.generalcls .mat-card-subtitle {max-width: 84%;margin: 0 auto; text-align: center;position: relative;margin-top: 35px !important}
.platformfeatures_block7_content:nth-child(odd) .parent .child:nth-child(1) {-webkit-box-ordinal-group: 2;order: 1;flex-basis: 56%}
.platformfeatures_block7_content:nth-child(odd) .parent .child:nth-child(2) {-webkit-box-ordinal-group: 3;order: 2;flex-basis: 44%}
.platformfeatures_block7_content:nth-child(odd) .parent .child:nth-child(2) img {margin-right: -20%; float: right}
.platformfeatures_block7_content:nth-child(odd) .parent .child:nth-child(2) img {margin-right: -21%;float: right;width: 125%;margin-top: -8%}
.platformfeatures_block7_content {margin-top: 20px;display: inline-block;width: 100%; margin-bottom: 0}
.spancls {display: block; text-align: center; color:#28211b; font-size: 30px; font-family: "RobotoBold"; margin-bottom: 15px;}
.platformfeatures_block3, .platformfeatures_block4, .platformfeatures_block5, .platformfeatures_block6, .platformfeatures_block7 {overflow: hidden}
.platformfeatures_block7_bottom {margin-top: 0%;display: inline-block; width: 78%}
.platformfeatures_block7  .parent {align-items: flex-start}
.platformfeatures_block6 .parent {display: flex;flex-direction: row;align-items: center;justify-content: space-between;}
.platformfeatures_block6_content:nth-child(odd) .parent .child:nth-child(2) img {height: 100%}
.platformfeatures_block6_content:nth-child(even) .parent .child:nth-child(2) img {height: 100%}
.platformfeatures_block2 .home_block2link, .platformfeatures_block4new .home_block2link, .platformfeatures_block4 .home_block2link, .platformfeatures_block5 .home_block2link, .platformfeatures_block7 .home_block2link, .platformfeatures_block8 .home_block2link {
    display: inline-block;
    width: auto;
    line-height: 60px;
    border: solid 1px #dcb58d;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 20px;
    color: #2a3d48;
    font-family: 'MontserratSemiBold';
    text-transform: uppercase;
    text-align: center;
    background: #fcfcfc;
    padding: 0px 20px;
}
.home_block4.platformfeatures_block4new{text-align: center;}
.home_block4.platformfeatures_block4new p{margin-top: 30px;}
.home_block4.platformfeatures_block4new {background: #d8d8d8!important;}
.home_block4.platformfeatures_block8 {text-align: center;}
.home_block4.platformfeatures_block8 {background: #d8d8d8!important;}

@media only screen and (max-width: 1910px) {.platformfeatures_block2.generalcls .mat-card-title {font-size: 28px!important;line-height: 30px!important; width: auto; }
}
@media only screen and (max-width: 1800px) {.platformfeatures_block5_content:nth-child(odd) .parent .child:nth-child(2) img {margin-left: -4%;}
    .platformfeatures_block5_content:nth-child(even) .parent .child:nth-child(2) img {margin-right: -6%;}
}
@media only screen and (max-width: 1730px) {.inner_banner.generalcls p {width: 78%;}
}
@media only screen and (max-width: 1666px) {.inner_banner.generalcls .mat-card-title {font-size: 58px !important;}
    .platformfeatures_block4 p {font-family: "Montserrat_light";font-size: 24px;line-height: 32px;margin-top: 18px;}
    .platformfeatures_block5.generalcls .mat-card-subtitle, .platformfeatures_block6.generalcls .mat-card-subtitle,.platformfeatures_block7.generalcls .mat-card-subtitle {max-width: 94%;}
    .ptb-67 {padding-top: 40px!important;padding-bottom: 40px!important;box-shadow: none!important;}
    .contentblockleft {position: relative;width: 40%;height: 100%;margin-left: 50%}
}
@media only screen and (max-width: 1540px) {.pfbannerbg {background-position: right 30% bottom!important;}
    .inner_banner.generalcls .mat-card-title {font-size: 44px !important;}

}
@media only screen and (max-width: 1500px) {
    .platformfeatures_block5_bottom {margin-top: -9%;}
}


@media only screen and (max-width: 1366px) {.platformfeatures_block6 .parent {align-items: stretch;overflow: hidden;}
    .platformfeatures_block6_content:nth-child(odd) .parent .child:nth-child(2) img {height: 100%;margin-left: -15%;}
    .platformfeatures_block6.generalcls .mat-card-title:nth-child(1) {margin-top: 20px !important;}
    .platformfeatures_block5_content {margin-top: 0;}
    .platformfeatures_block5_content:nth-child(odd) .parent .child:nth-child(1) { flex-basis: 100%}
    .platformfeatures_block5_content:nth-child(odd) .parent .child:nth-child(2) img {max-width: 100%}
    .platformfeatures_block5_content:nth-child(even) .parent .child:nth-child(1) { flex-basis: 100%}
    .platformfeatures_block5_content:nth-child(even) .parent .child:nth-child(2) img {max-width: 100%}
    .platformfeatures_block5_content:nth-child(even) {margin-top: -5%}
    .platformfeatures_block5_bottom {margin-top: -29%}
    .pfbannerbg {background-position: right 35% bottom !important;}
    .platformfeatures_block2 {background-position: left -12% bottom!important;}
    .generalcls .mat-card-subtitle {font-size: 26px!important;}
    .platformfeatures_block7 .parent {align-items: center;}
    .platformfeatures_block5_bottom {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1280px){
    .platformfeatures_block5_bottom {margin-top: 0%;}
    .home_block4 .mat-card-content ul {
        justify-content: center;
    }
    
    .home_block4 .mat-card-content ul li {
        width: 27%;
        padding: 0;
        margin: 63px 24px 34px;
    }
}

@media only screen and (max-width: 1199px) {
    .platformfeatures_block5_bottom {
        margin-top: -29%;
    }
    .generalcls .platformfeatures_block4_bottom .mat-list {padding: 10px 10px 15px;}.ptb-67 {padding-top: 20px!important;padding-bottom: 20px!important;}
    .inner_banner.generalcls p {width: 100%; line-height: 28px!important; }
    .platformfeatures_block6.generalcls .mat-card-title:nth-child(1) {margin-top: 0px !important;}
    .platformfeatures_block5_content:nth-child(odd) .parent .child:nth-child(2) img {margin-left: 0;float: left;width: 100%;}
    .platformfeatures_block6_content:nth-child(even) .parent .child:nth-child(2) img {margin-right: 0%;float: none;WIDTH: 100%;}
    .pfbannerbg {background-position:right top!important;min-height: auto;background-size: 205%!important;padding-top: 55% !important;}
    .contentblockleft {position: relative;width: 96%;height: 100%;margin-left: auto;text-align: center;margin-right: auto;}
    .platformfeatures_block2 {background-position: right top!important;min-height: auto;background-size: 100%!important;padding-top: 55% !important;}
    .bdrleft {border: solid 0px #dcb58d;padding-left: 0 !important;}
    .platformfeatures_block4_img {margin-top: 0;max-width: 100%}
    .platformfeatures_block4 .parent {text-align: center;}
    .platformfeatures_block5_bottom .parent .child {width: 93%;display: block;padding: 31px 41px;margin: 0 auto;}
    .platformfeatures_block5_bottom .parent .child:nth-child(1):after {content: "";background: #5e5e5e;height: 1px;width: 96%;position: absolute;bottom: 0;top: 100%;left: 2%;}
    .platformfeatures_block5.generalcls .mat-card-subtitle {max-width: 96%;margin: 0 auto;text-align: center;position: relative;}
    .platformfeatures_block5_content:nth-child(even) {margin-top: 0 !important;display: inline-block;}
    .platformfeatures_block4_bottom .parent .child {width: 100%;display: inline-block;margin-bottom: 20px;}
    .platformfeatures_block5_content:nth-child(even) .parent .child:nth-child(2) img {margin-right: 0;float: none;width: 100%;}
    .platformfeatures_block7_content:nth-child(odd) .parent .child:nth-child(1) {-webkit-box-ordinal-group: 2;order: 1;flex-basis: 100%;}
    .platformfeatures_block7_bottom {display: inline-block;width: 100%}
    .platformfeatures_block7_content:nth-child(odd) .parent .child:nth-child(2) {-webkit-box-ordinal-group: 3;order: 2;flex-basis: 100%;}
    .platformfeatures_block5_content {margin-top: 0;}
    .platformfeatures_block4 .parent .mat-list {text-align: left;}
    .platformfeatures_block4[_ngcontent-serverApp-c1] p[_ngcontent-serverApp-c1] {
        padding: 15px;
    }
}
@media only screen and (max-width: 767px) {.platformfeatures_block5_bottom .parent .child {width: 88%;display: block;padding: 20px;margin: 0 auto;}
    .inner_banner.generalcls .mat-card-title {font-size: 34px !important;margin-bottom: 10px !important;  line-height: 34px!important;}
    .platformfeatures_block3.generalcls[_ngcontent-serverApp-c1] .mat-card-title[_ngcontent-serverApp-c1],
    .generalcls .mat-card-content .parent .child .mat-card-title, 
    .generalcls .platformfeatures_block7_bottom .mat-card-title,
    .generalcls .mat-card-title.sectionheader {
        width: auto;
    } 
}
@media only screen and (max-width: 400px) {
    .inner_banner.generalcls[_ngcontent-serverApp-c1] .mat-card-title[_ngcontent-serverApp-c1] { font-size: 30px !important; }
    .platformfeatures_block3.generalcls[_ngcontent-serverApp-c1] .mat-card-title[_ngcontent-serverApp-c1] {
        font-size: 30px!important; 
    }
    .platformfeatures_block3[_ngcontent-serverApp-c1] {
        background: none;
        background-color: #f3bc85!important;
        position: relative;
    }
}
@media only screen and (max-width:360px) {
    .inner_banner.generalcls[_ngcontent-serverApp-c1] .mat-card-title[_ngcontent-serverApp-c1] { font-size: 28px !important; }
}