<app-header></app-header>


<mat-card class="inner_banner pfbannerbg generalcls">

    <mat-card-content class="ptb-67 inner_banner_content">
        <mat-card-title>SalesVert Platform Features</mat-card-title>
        <mat-card-content>
            <p>The SalesVert technologies are everything that a sales professional needs and is streamlined for targeted engagement.</p>
        </mat-card-content>
    </mat-card-content>
</mat-card>

<mat-card class="platformfeatures_block2 generalcls ptb-67">  
    <span class="maincontentwrapper">
      <mat-card-content class="contentblockleft bdrleft">      
        <mat-card-title>Unlike many other systems that were developed</mat-card-title>
        <mat-card-content>
            <p>
            SalesVert is the result of deep analysis by sales professionals on what would make a platform unstoppable. SalesVert is streamlined with only the essential features to make tracking your sales cycle simple. Precision targeting in <strong>sales management, accuracy of the sales cycle, and the latest in capturing communications </strong>are all extremely important. To put it simple,<strong> time wasted = sales lost.</strong> We have cut all the “in-between” time of complex sales down to the essentials and increased simplicity and speed. 
          </p>
        </mat-card-content>  
      </mat-card-content>
    </span>
</mat-card>


<mat-card class="platformfeatures_block3 generalcls ptb-40">  
    <span class="maincontentwrapper"> 
        <mat-card-title>SalesVert Powerful set of Features</mat-card-title>    
    </span>
</mat-card>


<mat-card class="platformfeatures_block4 generalcls ptb-67">  
    <span class="maincontentwrapper"> 
        <mat-card-content class="platformfeatures_block4_content">
          <span class="parent">
            <span class="child">
                <mat-card-title>Capture and Convert</mat-card-title> 
                <mat-card-content>
                  <p>It is critical to have the right technology, content and inbound systems that allow reps to quickly and easily gain new interest. Whether that be attracting customers or potential new distributors we have everything needed to make an impact.</p>
                </mat-card-content>
            </span>
            <span class="child"><img src="../../assets/images/platformfeatures_block4_img.png" class="platformfeatures_block4_img"></span>
          </span>
             
        </mat-card-content>


        <mat-card-content class="platformfeatures_block4_bottom">
            <span class="parent">
                <span class="child">
                    <mat-card-title><span>Powerful Funnel Systems</span></mat-card-title> 
                    <mat-list>
                      <mat-list-item>We create award winning capture pages for your products and services. Working with your team we will lay out converting funnels and content with high end design setting the foundation for extreme ROI on lead capture.  All the funnels come with options to move straight to appointment or for conversion lead capture.</mat-list-item>
                    </mat-list>
                </span>
                <span class="child">
                    <mat-card-title><span>Social Media Broadcasting</span></mat-card-title> 
                    <mat-list>
                        <mat-list-item>We have social broadcasting technology found nowhere else in the industry. Your sales members can subscribe to marketing broadcasts that will post to their social on a schedule. All this media is connected to the capture pages and websites tied to each sales staff.                         
                        </mat-list-item>
                      </mat-list>
                </span>
              </span>
        </mat-card-content>
    </span>
</mat-card>


<mat-card class="platformfeatures_block5 generalcls ptb-67">
    <mat-card-title class="sectionheader">Nurture and Engage</mat-card-title>
    <mat-card-subtitle>Our system comes fully equip with 3 points of continuing communications. Today it is very important to give potential prospects options of how they want to be communicated with and increase touch points.</mat-card-subtitle>
    <span class="maincontentwrapper"> 
      <mat-card-content class="platformfeatures_block5_content">
          <span class="parent">
            <span class="child">
                <mat-card-title>Social Messaging Chat Integration</mat-card-title> 
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>Prospects that come in through our funnels and social broadcasting technologies have the option of opting into communications and updates through social. We have integrated both the Facebook and Twitter messenger programs.  Opted in prospects will receive messaging directly to their chat giving you high visibility while they are on social media.</mat-list-item>
                        <mat-list-item> You can set up and manage large scale social messenger messaging campaigns from all of the opt ins for the entire system as well as allow each of the reps in your system that have permission to set up their own.</mat-list-item>
                      </mat-list>
                </mat-card-content>
            </span>
            <span class="child"><img src="../../assets/images/platformfeatures_block5_img1.png" class="platformfeatures_block5_img"></span>
          </span>         
      </mat-card-content>
      <mat-card-content class="platformfeatures_block5_content">
          <span class="parent">
            <span class="child">
                <mat-card-title>Text Message Integration</mat-card-title> 
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>Our system allows for text messaging opt in at all stages of the capture cycle. They can enter in their mobile number from capture pages, social broadcasts and can be hand entered as well to receive their verification code. Like our other nurture technology, they will continue to receive updates via text messaging engaging them in conversion path ROI.</mat-list-item>
                        <mat-list-item>You can set up and manage large scale text messaging campaigns from all of the opt ins for the entire system as well as allow each of the reps in your system that have permission to set up their own.</mat-list-item>
                      </mat-list>
                </mat-card-content>
            </span>
            <span class="child"><img src="../../assets/images/platformfeatures_block5_img2.png" class="platformfeatures_block5_img"></span>
          </span>         
      </mat-card-content>
      <mat-card-content class="platformfeatures_block5_bottom">
          <span class="parent">
              <span class="child">
                  <mat-card-title><span>eMail Communication</span></mat-card-title> 
                  <mat-list>
                    <mat-list-item>Our email communication system allows you to send out messaging to sales reps in your system, opted in funnel captures as well as manage large scale email campaigns. Each of the reps in your system that have permission can also set up and manage large scale email campaigns. We have healthy green lighted servers that hit the inbox.</mat-list-item>
                  </mat-list>
              </span>
              <span class="child">
                  <mat-card-title><span>Multi-Channel Text and eMail</span></mat-card-title> 
                  <mat-list>
                      <mat-list-item>Because we have the email system, the social messaging and text messaging system, you can set up large scale communications through all of them. Users can decide how they want to be communicated with and you can combine campaigns sending out messages with alternative copy for each channel.</mat-list-item>
                    </mat-list>
              </span>
            </span>
      </mat-card-content>
  </span>
</mat-card>



<mat-card class="platformfeatures_block6 generalcls ptb-67">
    <mat-card-title class="sectionheader">Present like a Champion</mat-card-title>
    <mat-card-subtitle>The ability to have a clean and professional presentation can mean the difference between an amazing experience that leads to a close and a lost deal.</mat-card-subtitle>
    <span class="maincontentwrapper">
    <mat-card-content class="platformfeatures_block6_content">
        <span class="parent">
          <span class="child">
              <mat-card-title>Digital Presentation Media Deck</mat-card-title> 
              <mat-card-content>
                  <mat-list>
                      <mat-list-item>Superior to any PowerPoint deck or online walk through the SalesVert presentation tools are a breakthrough in media sharing. You can set micro menus in a focused mobile friendly screen environment with access to presentations, web pages, video and any other media that is important to the sales cycle. This is an impressive way whether you are in person of speaking over the phone to review opportunities and materials in a fashion never before available.</mat-list-item>
                    </mat-list>
              </mat-card-content>
          </span>
          <span class="child"><img src="../../assets/images/platformfeatures_block6_img1.png" class="platformfeatures_block6_img"></span>
        </span>         
    </mat-card-content>
    <mat-card-content class="platformfeatures_block6_content">
        <span class="parent">
          <span class="child">
              <mat-card-title>Instant Screen Control</mat-card-title> 
              <mat-card-content>
                  <mat-list>
                      <mat-list-item>When presenting and discussing an opportunity it is vital that your prospects are on the same page. With our instant screen control, you can take over the computers and mobile devices of your prospects so that they are looking at the exact same screens as you. Unlike a regular screen share you can leave them with the full presentation 
                        for their review after your sales discussion is finished.</mat-list-item>
                    </mat-list>
              </mat-card-content>
          </span>
          <span class="child"><img src="../../assets/images/platformfeatures_block6_img2.png" class="platformfeatures_block6_img"></span>
        </span>         
    </mat-card-content>
    
</span>
</mat-card>

<mat-card class="platformfeatures_block7 generalcls ptb-67">
    <mat-card-title class="sectionheader">Sales Cycle Control CRM</mat-card-title>
    <mat-card-subtitle><span class="spancls">Take Massive action</span>When you hit your desk and open your CRM to get to work on opportunities it is very important that your system is intuitive and needed actions are clear. Sales professionals waste a tremendous amount of time setting up leads, sending out follow ups, scheduling appointments and moving through the sales process. We have cut this all down to a laser precision that will take productivity to a whole new level.</mat-card-subtitle>
    <span class="maincontentwrapper">

      <mat-card-content class="platformfeatures_block7_content">
          <span class="parent">
            <span class="child">
                <mat-card-title>Streamlined Precision Based CRM</mat-card-title>
                <mat-card-content>
                    <mat-list>
                        <mat-list-item>A professional salesperson or networker needs very specific access when it comes to CRM management. Too many times they are presented with hundreds of options that are not focused on the actual process and sales cycle. Our CRM works very specifically to manage opportunities is a very fast and efficient manner covering all the most critical
                        points of contact and leaving out those that are just not useful to a sales cycle.</mat-list-item>
                      </mat-list>
                </mat-card-content>
                <mat-card-title class="list2title">Including:</mat-card-title>
                <mat-card-content class="list2">
                    <mat-list>
                        <mat-list-item>Prospect folders with full contact information and associative LinkShare to other folders</mat-list-item>
                        <mat-list-item>Dispositions that come standard with the sales life cycle that can be easily customized</mat-list-item>
                        <mat-list-item>Instant drip communications set based on disposition in the sales cycle</mat-list-item>
                        <mat-list-item>Follow up settings easily created with ability to share and reassign</mat-list-item>
                        <mat-list-item>Easily accessible scheduling calendars where appointments can be direct or during a call (Connected to Google Business)</mat-list-item>
                        <mat-list-item>Opportunity tracking with customizable contract details with reports on all opportunities</mat-list-item>
                        <mat-list-item>Digital signature management for multiple products set for customizable client agreements</mat-list-item>
                    </mat-list>
                </mat-card-content>



            </span>
            <span class="child"><img src="../../assets/images/platformfeatures_block7_img1.png" class="platformfeatures_block7_img"></span>
          </span>
          <span class="platformfeatures_block7_bottom">
            <mat-card-title>PBX Telecommunications Built Directly into the CRM</mat-card-title>
              <mat-card-content>
                <mat-list>
                  <mat-list-item>With our communication suite you can dial directly from your computer and register the call and the call length right there in the client folder. This is critical for analysis by sales managers as well as sales reps.  You can text as well as receive the texts right there in your CRM recording the text communication set standard as a record.</mat-list-item>
                </mat-list>
            </mat-card-content>
          </span>
      </mat-card-content>
      
  </span>
</mat-card>

<app-readmore></app-readmore>

<app-footer></app-footer>