


.cdk-overlay-backdrop{display: none;}

html, body {height: 100%}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

ul.list-inline {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}
ul.list-inline li {
    margin: 0px !important;
    padding: 0px !important;
}


.wrap{
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0px;
}

ul, li {
    list-style: none;
    outline: none;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:focus {
    text-decoration: none;
    outline: none;
}
a:visited {
    text-decoration: none;
    outline: none;
}
/* CSS Document */



body {
    background:#ffffff;
    font-size:14px;
    color:#010101;
    margin:0;
    padding:0;
    overflow-x:hidden;
}


*{ margin:0; padding:0;}

.clear {
    clear:both;
}
a {
    text-decoration:none;
    outline:none;
}
a, a:visited {
    text-decoration: none;
}
a:hover, a:focus {
    text-decoration: none;
}
a:focus {
    outline: none;
    outline: none;
    outline-offset: inherit;
}


img, *img, img:focus, *img:focus{border: 0; outline: none; border-style: none;}


.full-screen {-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center;  background-repeat: no-repeat; min-width: 100%;}

button{cursor: pointer; outline: none;}

a{cursor: pointer; outline: none;}

.generalcls .mat-card-header-text{margin: 0 !important;width: 100%;}

.generalcls .mat-card-title{font-family: 'RalewayRegular'; font-size: 48px !important; line-height: 48px !important; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom:30px!important; color:#2a2b2c;display: flex; width: 100%; align-items: center; justify-content: space-between;}

.vpblock2_newcon .mainwrappercontent .mat-card-title{margin-bottom:12px!important;}

.generalcls .mat-card-title span span{font-family: 'RalewayBold'; padding-left: 10px;}

.generalcls p{font-family: 'HelveticaNormal'; font-size: 18px; color:#2b2c2d; margin: 0px; padding: 0; line-height: 25px; font-weight: normal;}

.generalcls p strong{ text-transform: uppercase;     font-family: 'HelveticaBold';}
/*.generalcls p span, .generalcls xp span{display: block; margin-top: 20px;}*/
.generalcls{padding: 77px 0px; border-top: 1px solid #f5f5f5;}
.generalcls .is-table-row{direction: rtl;}
.generalcls .is-table-row p{direction: rtl; direction: initial;}
.generalcls .is-table-row .highlightedtxt{direction: rtl; direction: initial;}
.generalcls .is-table-row [class*="col-"]:nth-of-type(odd) {padding-right: 0; overflow: hidden; padding-left: 0px;}
.generalcls .is-table-row [class*="col-"]:nth-of-type(even) {padding-left: 50px; padding-right:50px;}
.generalcls .is-table-row [class*="col-"] img{width: 100%;}
.generalcls ul.list-inline{margin: 0px !important;padding: 0px;}
.generalcls ul.list-inline li{margin: 0px !important; padding: 0px !important;}



.generalcls h1{font-family: 'RalewayExtraBold'; font-size: 60px !important; line-height: 60px !important;; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom: 18px; margin-top: 25px; color:#fff; white-space: normal !important;}
.generalcls h1 span{color:#fed204;font-family: 'HelveticaBold';}
.generalcls h2{font-family: 'HelveticaBold'; font-size: 30px !important; line-height: 36px !important;; text-transform: uppercase;  margin: 0px; padding: 0; margin-bottom: 18px; margin-top: 25px; color:#fff; white-space: normal !important;}


.txtuppercase{
    font-family: 'HelveticaBold'; font-size: 18px; line-height: 20px !important;; text-transform: uppercase; display: block; margin: 0px; padding: 0; margin-bottom: 18px; margin-top: 25px; color:#2b2c2d;
}

.txtbluecolor {
    font-family: 'HelveticaNormal';
    font-size: 18px;
    line-height: 25px !important;
    display: block;
    margin: 0px;
    padding: 0;
    margin-bottom: 25px;
    margin-top: 29px;
    color: #0060fe;
}


.vpheaderwrapper .topmenuiconlogo .mat-icon-button{display:none;}

.ptb-77.mat-card{
    padding-top: 57px !important;
    padding-bottom: 73px !important;
    box-shadow: none !important;
}


.ptb-35.mat-card{padding-top: 35px;  padding-bottom: 35px;box-shadow: none !important;}


.btnblueround{
    display: inline-block;
    background: #00c0ff;
    font-size: 24px;
    color: #fff!important;
    text-transform: uppercase;
    font-family: 'OpenSansSemibold';
    text-decoration: none!important;
    line-height: 58px;
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 2px 25px;
}


.btnblue{
    display: inline-block;
    background: #00c0ff;
    font-size: 24px;
    color: #fff!important;
    text-transform: uppercase;
    font-family: 'RalewaySemiBold';
    text-decoration: none!important;
    line-height: 58px;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 2px 25px;
}


.btnyellow{
    display: inline-block !important;
    background: #fcd503 !important;
    font-size: 18px !important;
    color: #fff!important;
    text-transform: uppercase!important;
    font-family: 'RalewaySemiBold'!important;
    text-decoration: none!important;
    line-height: 21px !important;
    text-align: center!important;
    margin: 0!important;
    border-radius: 5px!important;
    padding: 18px 36px!important;
    text-shadow: 0px 1px 1px #9c9c9c!important;
}


.overlaybg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}

.overlaybg1{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}


.btnformgray{
    display: inline-block;
    background: -moz-linear-gradient(270deg, rgba(195,198,205,1) 0%, rgba(106,114,134,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(195,198,205,1)), color-stop(100%, rgba(106,114,134,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(195,198,205,1) 0%, rgba(106,114,134,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(195,198,205,1) 0%, rgba(106,114,134,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(195,198,205,1) 0%, rgba(106,114,134,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(195,198,205,1) 0%, rgba(106,114,134,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c6cd', endColorstr='#6a7286',GradientType=0 ); /* ie6-9 */
    font-size:24px;
    color: #222222!important;
    text-transform: capitalize;
    font-family: 'OpenSansSemibold';
    text-decoration: none!important;
    line-height: 51px;
    text-align: center;
    margin: 0;
    border-radius: 0px;
}



.socialmediaicons .fa {color:#f9fafb; opacity:0.8;}
.socialmediaicons2{margin-top: 15px;}.socialmediaicons2 .fa {padding: 10px; font-size: 15px; width: 36px;  border-radius: 50%; text-decoration: none; margin: 5px 7px; height: 36px;background: #708694;}
.socialmediaicons .fa-facebook:hover {background: #3B5998; color:#f9fafb;}
.socialmediaicons .fa-twitter:hover {background: #55ACEE; color:#f9fafb;}
.socialmediaicons .fa-google-plus:hover { background: #dd4b39; color:#f9fafb;}
.socialmediaicons .fa-pinterest:hover { background: #cb2027; color:#f9fafb;}


.mainwrappercontent{
    width: 1351px;
    margin: 0 auto;
    display: block;
}

.landinglogoblock1wrapper{
    width: 1351px;
    margin: 0 auto;
    display: block;
}
.navbarlists{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}



.toprightformdiv{width: 454px !important; float: right; background-color: rgba(0, 0, 0, 0.3); padding: 14px; border: 10px solid rgba(221, 221, 221, 0.12);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    border-radius:20px;
}

.formheaderblock{
    background-color:#00c0ff;
    padding: 16px 16px;
    border-top-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
    border-radius: 0;
    margin-bottom: 30px;
}

.formheaderblock p{
    font-family: 'OpenSansSemibold';
    font-size: 19px;
    color:#ffffff;
    padding: 0;
    margin: 0px;
    line-height: 20px;
    letter-spacing: 0px;
    margin-top: 0px;
    text-shadow: 0px 1px 1px #9c9c9c;
}

.formheaderblock p span{
    color:#1b1e27;
    font-family: 'OpenSansRegular';
    font-size: 17px;
    text-shadow: none !important;
    display: block;
    margin-top: 12px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.vpheaderwrapper .mat-toolbar-row, .vpheaderwrapper .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
}

.mat-list-item {
    float: right;
}
.homemain mat-nav-list{margin: 0 auto; width: 1350px;}
.homemain mat-nav-list span.logowrapper{flex: 1 1 20% !important;
    box-sizing: border-box;}
.homemain mat-nav-list span.logowrapper img{max-width: 100%; margin: 0 auto;}

.logowrappersml{display: none;}
.mat-drawer-container{
    display: none !important;
}

.vpheaderwrapper{
    position: absolute !important;
    top: 35px;
    left: 0;
    z-index: 999;
    color: #fff;
    width: 100%;
}

.vpheaderwrapper.mat-card{
    background-color: transparent !important;
    box-shadow: none !important;
}


.vpheaderwrapper .mat-nav-list{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}
.vpheaderwrapper .mat-nav-list a{
    font-family: 'OpenSansRegular';
    font-size: 14px;
    color:#ffffff;
    padding: 0;
    margin: 0 auto;
    line-height: 16px;
    letter-spacing: 0px;
    margin-top: 0px;
    text-transform: capitalize;
}

.vpheaderwrapper .mat-nav-list a:hover{
    color:#fed204;
}


.landinglogoblock{
    position: relative !important;
    top: 0;
    left: 0;
    z-index: 999;
    color: #fff;
    width: 100%;
}

.mat-card-content.topbannerhomewrapper {
    display: block;
    margin-bottom: 16px;
    position: relative;
    z-index: 99;
}



.vpblock1imgleftwrapper{
    position: absolute;
    left: -24px;
    top: 10%;
    width: 620px;
}
.vpblock1imgleftwrapper img{
    max-width: 100%;
}

.mat-card {
    padding: 0 !important;
}

.mat-menu-content {
    padding: 0 !important;
    border-radius: 0px !important;
    background-color: #0071bc;
    color: #fff;
}
.mat-menu-content a.mat-menu-item{
    color: #fff !important;
    text-align: center;
}

.mat-menu-content a.mat-menu-item:hover{
    color: #000 !important;
}

.mat-menu-panel{
    position: relative;
    min-width: inherit;
    max-width: inherit;
    border-radius: 0px !important;
}

.mat-menu-panel {
    min-width: 100%;
    max-width: 100%;
    overflow: auto;
    border-radius: 0px;
    outline: 0;
    margin-left: -25%;
    margin-top: 10px;
}

.mat-menu-content:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #0071bc transparent;
    line-height: 0px;
    _border-color: #0071bc #0071bc #2a2b2c #0071bc;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    top: -10px;
    z-index: 99999;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}



.mat-menu-content .mat-menu-item{
    height:auto;
    border-radius: 0px !important;
    line-height: 24px;
}


.vpblock1bg {background-image: url(../../assets/images/vpblock1bg.jpg) !important;  background-size: cover !important; background-repeat: no-repeat !important; background-position: top center !important; width: 100%; margin: 0; padding: 40px 0px; position: relative; z-index: 99; min-height: 1px; overflow: hidden; padding-top: 238px !important;}



.vpblock1bgwrapper{
    width: 1574px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 99;
    height: 100%;
}

.landinglogoblock1{
    margin-top: 0;
    margin-left: 0;
}


.topleftdiv{
    width: auto;
}

.topbannerhomecontentform{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.topbannerhomeleft{
    width: 63%;
    padding-left: 8%;
}

.topbannerhomeleft h2 {
    font-family: 'HelveticaBold';
    font-size: 48px;
    text-transform: uppercase;
    color:#fed204;
    padding: 0;
    margin: 0px;
    line-height: 50px;
    letter-spacing: 0px;
}

.topbannerhomeleft p {
    font-family: 'HelveticaNormal';
    font-size: 22px;
    color:#ffffff;
    padding: 0;
    margin: 0px;
    line-height: 36px;
    letter-spacing: 0px;
    margin-top: 10px;
    padding-left: 22%;
    margin-top: 39px;
}

.listsbanner {
    padding-left: 20%;
    margin-top: 39px;
}

.listsbanner .imgicon{
    background: url('../../assets/images/listsbannericon.png') no-repeat left top;
    padding-left: 30px !important;
    display: block;
    margin-bottom: 16px;
}
.listsbanner .imgicon span{
    font-family: 'HelveticaBold';
    font-size: 24px;
    text-transform: uppercase;
    color:#fff;
    padding: 0;
    margin: 0px;
    line-height: 34px;
    letter-spacing: 0px;
}
.listsbanner .imgicon{height:auto !important}



.topbannerhomeright{
    background-color: #fff;
    width: 27%;
}


.formcls .mat-card-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: -4px;
    margin-top: 6px;
    background-image: url(../../assets/images/formmatcardheaderbg.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    padding: 10px 4px;
    -webkit-box-shadow: 0px 6px 24px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 24px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 24px -8px rgba(0,0,0,0.75);
}


.formcls .mat-card-header .mat-card-header-text {
    margin: 0 0px;
}

.formcls .mat-card-header h2 {
    font-family: 'OpenSansSemibold';
    font-size: 36px;
    text-transform: uppercase;
    color:#ffffff;
    padding: 0;
    margin: 0px;
    line-height: 36px;
    letter-spacing: 0px;
    text-shadow: 0px 1px 2px rgba(28,110,164,0.5);
    text-align: center;
    width: 100%;
}


.formcls .example-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto 0px;
}

.formcls .example-container > * {
    width: 100%;
}

.formcls .mat-form-field-flex{
    background-color: #eeeff2;
    border:1px solid #b6c0c9;
}

.formcls .mat-input-element {
    caret-color: #000 !important;
}


.formcls button sub {
    position: absolute;
    top: 7px;
}


.formcls button{
    background-image: url(../../assets/images/formbuttonbg.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    padding: 20px 4px;
    border-radius: 19px;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border: 9px solid #e0e2e7;
    font-family: 'OpenSansBold';
    font-size: 24px;
    text-transform: uppercase;
    color:#ffffff;
    text-shadow: 0px 1px 2px rgba(28,110,164,0.5);
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    white-space: normal;
}



.mat-form-field .mat-form-field-infix{height: 30px; line-height: 30px; padding-left: 6px; padding-right: 6px;}

.formcls .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 1px 5px !important;
 }

.formcls .mat-list-option:not(.mat-list-item-disabled):hover, .mat-nav-list .mat-list-item:not(.mat-list-item-disabled):hover {
    background: 0 !important;
}
.formcls .mat-list-option:focus, .mat-list-option:hover, .mat-nav-list .mat-list-item:focus, .mat-nav-list .mat-list-item:hover {
    background: 0 !important;
}

.formcls .mat-card:not([class*=mat-elevation-z]){box-shadow: none !important;}


.mat-card-actions, .mat-card-content, .mat-card-subtitle {
    display: block;
    margin-bottom: 0px !important;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{display: none !important;}


.vpheaderwrapper .mat-toolbar.mat-primary {
    background: transparent !important;
    color: #fff;
}


.topbannerhomeleft p span {
    display: block;
    font-family: 'HelveticaBold';
    font-size: 23px;
    text-transform: uppercase;
    padding: 20px 0 0 40px;     color: #fed204;
}


.mat-form-field { margin-top: 5px;}

.mat-form-field  .errortext { font-size: 12px; color: #ff0000;     display: block;
    margin-top: -4px;}


   .imgresponsive{width: 100%;display: block;}





   .newAspire_block {
    position: absolute;
    left: 0;
    top: -90px;
    width: 100%;
}

.newAspire_block img {
    width: 260px;
    display: block;
    float: right;
    border-left: solid 3px #fed204;
    padding-left: 20px;
}
.newAspire_block .h2text {
    display: inline-block;
    padding: 8px 20px 0 0!important;
    font-family: 'HelveticaBold';
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;

    margin: 0px;
    line-height: 50px;
    letter-spacing: 0px;
}

.newAspire_block_wrapper{ width: 860px; margin: 0 auto;}
.mat-nav-list .mat-list-item {
    cursor: pointer;
    outline: 0;
    flex: 1 1 0%;
    box-sizing: border-box;
}
.vpblock1bg.mat-card{padding-bottom: 16px !important;}


    @media only screen and (max-width: 1850px) {
    
        .topbannerhomeleft p{ padding-left: 25%}
    }
    
    @media only screen and (max-width: 1800px) {
        .topbannerhomeleft p{ padding-left: 22%}
    
        .topbannerhomeleft {
            width: 60%;
            padding-left: 13%;
        }
        .listsbanner .imgicon span {
            font-size: 22px;
        }
        .topbannerhomeleft h2 {
            font-size: 44px;
            line-height: 46px;
        }
    }
    
    @media only screen and (max-width: 1740px) {
    
        .topbannerhomeleft {
            width: 60%;
            padding-left: 15%;
        }
    }
    
    
    @media only screen and (max-width: 1700px) {
    
        .topbannerhomeleft p span {
            padding: 20px 20px 0 40px;
        }
        .topbannerhomeleft {
            width: 60%;
            padding-left: 20%;
        }
        .topbannerhomeleft h2 {
            font-size: 40px;
            line-height: normal;
        }
        .listsbanner .imgicon span {
            font-size: 20px;
        }
    }
    @media only screen and (max-width: 1666px) {
        .vpblock1imgleftwrapper {
            width: 530px;
        }
        .topbannerhomeleft h2 {
            font-size: 40px;
            line-height: 40px;
        }
        .topbannerhomeleft p {
            padding-left: 23%;
        }
        .vpblock1bg.mat-card {
            padding-top: 15% !important;
        }
        .topbannerhomeleft {
            width: 62%;
            padding-left: 12%;
        }
    }
    
  
    
    @media only screen and (max-width: 1600px) {
        .topbannerhomeleft {
            width: 56%;
            padding-left: 15%;
        }
    }
    
    @media only screen and (max-width: 1540px) {
        .topbannerhomeleft {
            width: 56%;
            padding-left: 18%;
        }
    }
    @media only screen and (max-width: 1500px) {
    
        .topbannerhomeleft {
            width: 50%;
            padding-left: 21%;
        }
        .vpblock1imgleftwrapper {
            width: 500px;
        }
    
        .topbannerhomeleft p span {
            padding: 20px 20px 0 0px;
        }
    }
    
    @media only screen and (max-width: 1400px) {
    
        .topbannerhomeleft {
            width: 50%;
            padding-left: 23%;
        }
    
        .newAspire_block { top: -70px;  }
        .newAspire_block img {
            width: 220px;}
    
        .newAspire_block .h2text {
            display: inline-block;
            padding: 2px 20px 0 0!important; font-size: 26px;}
    
        .newAspire_block_wrapper{ width: 744px; margin: 0 auto;}
    }
    
    
    @media only screen and (max-width: 1366px) {
        .vpblock1imgleftwrapper {
            width: 475px;
        }
    
        .topbannerhomeleft h2 {
            font-size: 32px;
            line-height: normal;
        }
        .listsbanner .imgicon span {
            font-size: 17px;
        }
        .topbannerhomeleft {
            width: 56%;
            padding-left: 22%;
        }
    
        .homemain .mat-nav-list {
            width: 100%;
        }
        .mainwrappercontent {
            width: 96%;
        }
        .homemain .mat-nav-list {
            width: 96%;
            align-items: center;
        }
        .vpblock1bg.mat-card {
            padding-top: 15%!important;
        }
        .generalcls .mat-card-title {
            font-size: 32px !important;
            line-height: 36px !important;
        }
        .generalcls p {
            font-size: 16px;
            line-height: 24px;
        }
    }
 
    
    @media only screen and (max-width: 1280px) {
        .topbannerhomeleft {
            width: 56%;
            padding-left: 26%;
        }
        .topbannerhomeleft p {
            font-size: 18px;
            line-height: normal;
        }
    
        .vpblock2_newcon {
            background-position: 170% bottom !important;
        }
    }
    
    @media only screen and (max-width: 1199px) {
        .listsbanner .imgicon span {
            display: inline-block;
            width: 100%;
        }
        .topbannerhomeleft p span {
            padding: 20px 0px 0 0px;
        }
    
    
        .vpblock2_newcon .vpblock2left {
            width: 100%;
        }
    
    
        .newAspire_block {
            position: inherit;
            left: 0;
            top: 0;
            width: 100%; padding-bottom: 15px;
        }
    
        .newAspire_block img {
            width: 260px;
            display: block;
            float: none;
          border:none; margin: 20px auto;
            padding-left: 0;
        }
        .newAspire_block .h2text {
            display:block;
            float: none;
            padding: 0 0 0 0!important;
    
            font-size: 30px; text-align: center;     line-height: 36px;
    
        }
    
        .newAspire_block_wrapper{ width: 100%; margin: 0 auto;}
    
    
    
        .topbannerhomeleft {
            width: 100%;
            padding-left: 0;
        }
    
    
        .vpheaderwrapper .mat-nav-list a {
            font-size: 13px;
        }
    
        .mat-drawer {
            position: relative;
            z-index: 4;
            display: block;
            position: inherit;
            top: 0;
            bottom: 0;
            z-index: 3;
            outline: 0;
            box-sizing: border-box;
            overflow-y: auto;
            transform: translate3d(-100%,0,0);
        }
        .mat-drawer-container.mat-drawer-opened {
            position: absolute;
            z-index: 999;
            box-sizing: border-box;
            -webkit-overflow-scrolling: touch;
            display: block;
            overflow: visible;
        }
        .videoclsgen {
            float: none;
            margin: 0 auto;
            display: block;
        }
        .generalcls .mat-card-content{
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        .vpblock2left .btnyellow {
            float: none;
        }
    /*    .mat-nav-list{
            display: inline-block !important;
            width: 100% !important;
        }*/
        .headertitlerightdesign{
            display: none !important;
        }
        .mat-card-header .mat-card-title span{
            width: 100%;
            display: inline;
            text-align: center;
        }
    
        .ptb-77.mat-card {
            padding-top: 30px !important;
            padding-bottom: 30px !important;
        }
        .vpheaderwrapper.mat-card {
            background-color: #47484a !important;
            position: inherit !important;
        }
        .vpblock1bg.mat-card {
            padding-top: 30px!important;
            padding-bottom: 30px !important;
        }
        .topbannerhomecontentform {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        .vpblock1imgleftwrapper {
            position: inherit;
            left: 0;
            top: 0;
            margin: 0 auto;
            display: block;
        }
        .topbannerhomeright {
            background-color: #fff;
            width: 600px !important;
            display: inline-block;
            margin-top: -25%;
        }
        .topbannerhomeleft p {
            padding-left: 0;
            display: inline-block;
            width: 70%;
            margin-top: 5px;
            margin-bottom: 25px;
        }
    
        .listsbanner {
            padding-left: 0;
            margin-top: 20px;
        }
    
        .listsbanner .imgicon {
            background: url(../../assets/images/listsbannericon.png) no-repeat top center;
            padding-left: 0px !important;
            display: block;
            margin-bottom: 16px;
            padding-top: 32px !important;
        }
        .listsbanner .imgicon .mat-list-item-content{
            justify-content: center;
        }
    
        .vpheaderwrapper .mat-list-base .mat-list-item .mat-list-item-content, .vpheaderwrapper .mat-list-base .mat-list-option .mat-list-item-content {
            padding: 0 8px;
        }
    
        .homemain mat-nav-list span.logowrapper {
            flex: 1 1 10% !important;
        }
    
    
        .vpblock2_newcon {
            background-position: center bottom !important;
            background-size: 100%!important;
    
        }
    
        .ptb-77.mat-card.vpblock2_newcon   {  padding-bottom: 66%!important;}
    }
    
    
    @media only screen and (max-width: 991px){
        .mat-icon-button.mat-animation-noopable .smlmenudiv.ng-star-inserted {
            display: none !important;
        }
        .mat-icon-button.mat-animation-noopable.cdk-touch-focused .smlmenudiv.ng-star-inserted{
            display: block !important;
        }
    }
    
    
    
    @media only screen and (max-width:991px) {
        .mat-icon-button{
            display: block !important;
        }
    
    
    
        .vpheaderwrapper .mat-toolbar-row, .vpheaderwrapper .mat-toolbar-single-row {
            display: inline-block;
            width: 100%;
        }
        .topmenuiconlogo{
            display: block;
            width: 100%;
            align-items: center;
        }
    
        .homemain mat-nav-list span.logowrapper {
            display: none;
        }
    
        .vpheaderwrapper .homemain .mat-nav-list {
            width: 100%;
            align-items: center;
            display: inline-block !important;
        }
    
        .vpheaderwrapper .mat-toolbar-row, .mat-toolbar-single-row{
            height: auto;
            padding: 10px !important;
        }
        .vpheaderwrapper .logowrappersml {
            display: block;
            flex: 1 1 20%;
        }
        .vpheaderwrapper .logowrappersml img{
            max-width: 100%;
        }
    
        .vpheaderwrapper .mat-drawer-container.mat-drawer-opened{
            background-color: transparent !important;
        }
        .vpheaderwrapper .mat-drawer {
            background-color: transparent;
            position: inherit;
            box-shadow: none !important;
        }
        .vpheaderwrapper .homemain .mat-sidenav .mat-nav-list {
            width: 100%;
            display: inline-block !important;
            background-color: #3e3e40;
            padding-top: 0px;
        }
        .vpheaderwrapper .mat-drawer-container.mat-drawer-opened {
            position: inherit;
            display: block !important;
        }
        .vpheaderwrapper .mat-drawer-backdrop {
            position: inherit;
        }
        .vpheaderwrapper.mat-card {
            padding: 0 !important;
        }
    
        .vpheaderwrapper .mat-nav-list .mat-list-item{
            border-bottom:1px solid #333;
        }
    }
    
    @media only screen and (max-width: 767px) {
    
        .topbannerhomeleft p {
            width: 85%;
        }
        
        .videoclsgen {
            float: none;
            margin: 0 auto;
            display: block;
            width: 100%;
        }
        .topbannerhomeright {
            background-color: #fff;
            width: 96% !important;
            display: inline-block;
            margin-top: -50%;
        }
    
    }
    
    
    @media only screen and (max-width: 540px) {
        .formcls button {
            font-size: 20px;
        }
    }