h1,h2,h3,h4,h5,h6,p{ margin: 0;}
.clearfix{ clear: both; }
.trinity_top {position: relative;}
 .trinity_top .top_bar{ background: #682b7b; height: 75px; border-bottom: 5px solid #263b96; }

 .trinity_top .main_banner{background: url(/assets/images/trinity_topBg.jpg) no-repeat;
    background-position: center center;
    background-size: cover; position: relative;
}
.trinity_top .main_banner .main_banner_wrapper{ margin: 0 auto; width: 1280px; position: relative;}

.trinity_top .logo_wrapper,
.trinity_top .headerTag{ text-align: center;}
.trinity_top .logo_wrapper img{ margin-top: -50px;}
.trinity_top .headerTag .header_title{ color:#682b7b; text-transform: capitalize; font-family: 'RobotoBold'; font-size: 46px;}
.trinity_top .headerTag .subtitle{color: #223e92; font-size: 30px; font-family: 'Arial'; text-transform: capitalize; font-weight: bold; margin-bottom: 30px; }

.trinity_top .bottomBg{ background: url(/assets/images/trinity_bottomBg.png) no-repeat;  min-height: 234px; background-position: center bottom;}
.trinity_top .main_banner .main_banner_wrapper .left_wrapper{ width:520px; float: left; position: relative; margin-bottom: -90px;}
.trinity_top .main_banner .main_banner_wrapper .left_wrapper .form_wrapper_badge {background: url("/assets/images/leftTopBadge.png") no-repeat center center; background-size: cover;
  padding: 22px;
  text-align: center;
  position: absolute;
  width: 100%;
  box-sizing: border-box;}
  .trinity_top .main_banner .main_banner_wrapper .left_wrapper .input_wrapper{ padding: 25px; text-align: center; }
.trinity_top .main_banner .main_banner_wrapper .left_wrapper>* .form-control{ width: 100%; padding: 5px 15px; display: block; margin: 18px 0; height: 45px; border-radius: 5px;
  border: 1px solid #888888; box-sizing: border-box;  }

.trinity_top .main_banner .main_banner_wrapper .left_wrapper .form_wrapper{ border-radius: 5px;  border: 1px solid #fff;width: auto; margin: 0px 55px; margin-top:35px; background: #fff; box-shadow: inset 0px 0px 20px 16px #d4d1d1;  }
.trinity_top .main_banner .main_banner_wrapper .left_wrapper .form_wrapper textarea{ resize: none; height: 175px!important; }
.trinity_top .main_banner .main_banner_wrapper .left_wrapper .form_wrapper .Submit_button{ background-image: linear-gradient(to bottom, #cb2f27, #ca2e26, #ca2d25, #c92c24, #c82b23); color: #fff;width: 200px; padding: 10px; font-size: 26px; text-transform: uppercase; margin: 0 auto; border: 1px solid #7d0000; border-radius: 4px; font-family: "Calibri"; font-weight: bold; margin-top: 10px; }

.trinity_top .main_banner .main_banner_wrapper .right_wrapper{ position: relative; width: 760px; float: right;}

.trinity_top .main_banner .main_banner_wrapper .right_wrapper .item_image{  width: 375px;
  float: left;}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .item_image img{ margin-left: -55px; }
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right{
   background: url(/assets/images/trinitytopBlokimage1.png) no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
  position: absolute;
  right: 95px;
  top: -28px;
  padding: 25px;
  width: 320px;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row,
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row{ display: flex; align-items: flex-start; width: 80%; margin: 0 auto;
  justify-content: center;  padding: 40px;
  padding-left: 30px;
  padding-top: 25px;
  min-height: 155px;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row .left_item,
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row .left_item { font-family: 'AmaliamutiaRegular'; font-size: 107px; color: #fff;}

.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row .right_item h3,
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row .right_item h3{ font-family: 'BebasRegular'; color:#fff; font-size: 27px;}

.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row .right_item h5 span,
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row .right_item h5 span{ font-family: 'Times New Roman';
  font-size: 19px;
  color: #fff;
  font-weight: bold;
  margin-bottom: -16px;
  display: block;}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row .right_item h5,
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row .right_item h5{ font-family: "Arial"; font-style: normal; color: #fff; line-height: 22px;
  margin-top: 10px;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right{
  background: url(/assets/images/trinitytopBlokimage2.png) no-repeat;
  background-position: center center;
  background-size: contain;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 25px;
  width: 320px;
}

.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_wrapper{ background: url(/assets/images/bottom_image.png) no-repeat;
  position: absolute;
  width: auto;
  background-size: contain;
  bottom: -160px;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: -25px;
  min-height: 124px;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_wrapper .row1{
  font-family: 'AmaliamutiaRegular'; font-size: 107px; color: #fff;    margin-right: 15px;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_wrapper .row2 h4{font-family: 'BebasRegular'; color:#fff; font-size: 27px;}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_wrapper .row2 h5{font-family: 'Times New Roman';
  font-size: 19px;
  color: #fff;
  font-weight: bold;
  margin-bottom: -16px;
  display: block;
  margin: 10px 0;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_wrapper .row2 p{font-family: "Arial"; font-style: normal; color: #fff; line-height: 22px; margin-top: 10px;}

.container{ width: 1000px; margin: 0 auto;}
.bottom_quote{
  position: absolute;
  bottom: -28%;
  text-align: center;
  display: block;
  width: 100%;
  color: #fff;
  font-family: "Arial";
  font-weight: bold;
  font-size: 30px;
}
.bottom_quote span{ color: #ffcc00;}

.bllok2{
  background-image: linear-gradient(to top, #cfcfcf, #dbdbdb, #e7e7e7, #f3f3f3, #ffffff);
  padding:10px; position: relative;
}

.bllok2 .container h3{ text-align: center; font-family: "Times New Roman"; font-size: 34px; font-weight: bold; color: #17181c;  padding-top: 15px; }

.bllok2 .container .row{ display: flex; margin-top: 30px;}
.bllok2 .container .row .img_wrapper{ margin-right: 40px;}
.bllok2 .container .content_wrapper .content{font-weight: normal; font-family: 'Arial'; font-size: 18px; color: #17181c;     line-height: 34px; }
.bllok2 .container .content_wrapper .row2{
display: flex;
justify-content: space-between;
}
.bllok2 .rightside_icon{ position: absolute; right: 0;}
.blk3_wrapper{ background: url(/assets/images/blk4Bg.jpg) no-repeat center center; padding: 26px 0; background-size: cover;}
.blk3_wrapper .left_bg{ background: url(/assets/images/blk3MoneyBG.png) no-repeat left center; }
.blk3_wrapper .left_bg .bl3_content{ background: url(/assets/images/bl3_content_BG.jpg) no-repeat center center;
  background-size: 100%;
  width: 410px;
  margin: 0 auto;
  padding: 15px 0;
  position: relative;
 }
 .blk3_wrapper .left_bg .bl3_content::before{
  content: "";
  float: left;
  width: 23px;
  height: 65px;
  background: url(/assets/images/trinityclipIcon.png) no-repeat center;
  position: absolute;
  top: -26px;
  left: 50px;
 }
 .blk3_wrapper .left_bg .bl3_content::after{
  content: "";
  float: left;
  width: 23px;
  height: 65px;
  background: url(/assets/images/trinityclipIcon.png) no-repeat center;
  position: absolute;
  top: -26px;
  right: 50px;
      line-height: 32px;
 }
  .blk3_wrapper .left_bg .bl3_content ul{ padding: 40px; }
  .blk3_wrapper .left_bg .bl3_content ul li{
    list-style: none;
    background: url(/assets/images/trinity_listicon.png) no-repeat left center;
    font-size: 24px;
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: italic;
    color: #17181c;
    padding: 10px 0;
    padding-left: 45px;
    line-height: 32px;
  }

.tri_com_mainbg{  background: url(/assets/images/communicationBg.jpg) no-repeat center center; background-size: cover; padding: 20px; }
.tri_com_mainbg .tri_com_wrapper{ width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; }
.tri_com_mainbg .tri_com_wrapper .tri_com_item{ width:33%;}
.tri_com_mainbg .tri_com_wrapper .tri_com_item .items{ position: relative; background:#fff; padding: 10px; display: flex; justify-content: space-between; margin: 15px;  border-radius: 10px;  }
.tri_com_mainbg .tri_com_wrapper .tri_com_item .items .img_box{ width: 36%; }
.tri_com_mainbg .tri_com_wrapper .tri_com_item .items .img_box img{ border: 1px solid #564d4d; max-width: 100%; min-height: 100%; object-fit: cover; object-position: center center;}
.tri_com_mainbg .tri_com_wrapper .tri_com_item .items .content_box{ width: 62%;}
.tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap h3{ color: #fff; font-size: 24px; text-transform: uppercase; font-family: "BebasRegular"; font-weight: normal;
  text-align: center;}
  .tri_com_mainbg .tri_com_wrapper .tri_com_item .items .content_box h2{ font-size: 22px; font-family: "Times new roman regular"; color:#223e92; }
  .tri_com_mainbg .tri_com_wrapper .tri_com_item .items .content_box p{ font-size: 20px; font-family: "Times new roman regular"; color: #000; margin-top: 10px;}
  .tri_com_mainbg .tri_com_wrapper .tri_consection3{ display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: -60px;}
  .tri_com_mainbg .tri_com_wrapper .tri_consection3 .round-circle{ margin-top: 20px;}
  .tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap .one,
   .tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap .two,
   .tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap .three,
   .tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap .four{ position: relative;}
  .tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap .one::after{

    content: '';
    border-top: 25px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 60px solid white;
    position: absolute;
    right: -50px;
    bottom: 18px;
    transform: rotate(24deg);
  }
  .tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap .two::after{
    content: '';
    border-top: 25px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 63px solid white;
    position: absolute;
    right: -35px;
    bottom: auto;
    transform: rotate(12deg);
    top: 15px;
  }
  .tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap .three::after{
    content: '';
    border-top: 0px solid transparent;
    border-bottom: 22px solid transparent;
    border-left: 53px solid white;
    position: absolute;
    left: -46px;
    bottom: 18px;
    transform: rotate(156deg);
  }
  .tri_com_mainbg .tri_com_wrapper .tri_com_item .total_items_wrap .four::after{
    content: '';
    border-top: 0px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    left: -25px;
    top: 38px;
    transform: rotate(156deg);
  }
.tri_com_mainbg .header_portion{ margin: 0 auto; width: 100%; text-align: center;}
.tri_com_mainbg .header_portion h2{ color: #fff; font-family: "Times New Roman"; font-size: 34px; padding: 25px; }
.bottom_content_wrapper{ margin: 0 auto; width: 1200px; margin-top: -25px;}
.bottom_content_wrapper .bottom_content{ position: relative; background:#fff; padding: 10px; display: flex; justify-content: space-between; margin: 15px;  border-radius: 10px;  }

.bottom_content_wrapper .main_content{ width: 410px; margin: 0 auto;}
.bottom_content_wrapper .main_content .content{ background: #fff;  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 10px; padding-bottom: 6px;}
  .bottom_content_wrapper .main_content .content .image_wrapper{ width: 36%; }
  .bottom_content_wrapper .main_content .content .image_wrapper  img{ border: 1px solid #564d4d; max-width: 100%; min-height: 100%; object-fit: cover; object-position: center center;}
  .bottom_content_wrapper .main_content .content .content_section{ width: 62%; }
  .bottom_content_wrapper .main_content .content .content_section h2{ font-size: 22px; font-family: "Times new roman regular"; color: #223e92;}
  .bottom_content_wrapper .main_content .content .content_section p{ font-size: 20px; font-family: "Times new roman regular"; color: #000; margin-top: 10px;}
  .bottom_content_wrapper .main_content h3{ color: #fff; font-size: 24px; text-transform: uppercase; font-family: "BebasRegular"; font-weight: normal; text-align: center; margin-top: 15px; }


  .digitalEdge_bg{
    /* background-image: linear-gradient(to top, #cfcfcf, #dbdbdb, #e7e7e7, #f3f3f3, #ffffff); */
    padding: 10px;
    background: #fff;
    position: relative;
  }
.digitalEdge_bg .digitalEdge_content_wrapper{ width: 1280px; margin: 0 auto;}
.digitalEdge_bg .digitalEdge_content_wrapper .header_blok { text-align: center;}
.digitalEdge_bg .digitalEdge_content_wrapper .header_blok h2{ color: #223e92; font-family: 'Times New Roaman'; font-weight: bold; font-size: 34px; }
.digitalEdge_bg .digitalEdge_content_wrapper .header_blok p{ color: #8b8b8b; font-family: 'Arial';  font-size: 24px; font-style: italic; }

.digitalEdge_bg .digitalEdge_content_wrapper .d_e_partners_wrapper{ display: flex; justify-content: space-around; padding: 15px 130px; align-items: center;}
.digitalEdge_bg .digitalEdge_content_wrapper .service_content .left_wrapper1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}
.digitalEdge_bg .digitalEdge_content_wrapper .service_content .left_wrapper1 ul li{
  background: url(/assets/images/starBg.png) no-repeat left top; background-size: contain;
  padding-left: 45px;
  list-style: none;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  color: #393838;
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0;
}

  .digitalEdge_bg .digitalEdge_content_wrapper .service_content {  display: flex; justify-content: space-between;  margin-top: 40px;}

.trinity_testimonial{ background: #343434;}
.trinity_testimonial .t_m_main_wrapper{  display: flex; justify-content: space-between; padding: 20px 50px;}
.trinity_testimonial .t_m_main_wrapper .video_wrapper{  width: 50%; }
.trinity_testimonial .t_m_main_wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
  .trinity_testimonial .t_m_main_wrapper .contenttop { width:54%; position: relative;}
  .trinity_testimonial .t_m_main_wrapper .content_wrapper .comment_bg {position: relative;}

 .trinity_testimonial .t_m_main_wrapper .content_wrapper .comment_bg{
  background: url(/assets/images/testimonialcommentbg.png) no-repeat;
background-position: center center;   padding: 25px; display: flex; justify-content: space-between; align-items: center;
background-size: 100%; min-height: 250px;}

.trinity_testimonial .t_m_main_wrapper .content_wrapper .comment_bg .comment p, .trinity_testimonial .t_m_main_wrapper .content_wrapper .comment_bg .comment .author  { line-height: 32px; font-size: 16px; font-family: 'Arial'; color:#000; }
.trinity_testimonial .t_m_main_wrapper .content_wrapper .comment_bg .comment p::before{
  content: '';
  background: url(/assets/images/testimonial-clon-prev.png)  no-repeat left top;
  height: 16px;
  width: 27px;
  display: inline-block;
}
.trinity_testimonial .t_m_main_wrapper .content_wrapper .comment_bg .comment p::after{
  content: '';
  background: url(/assets/images/testimonial-clon-next.png)  no-repeat left top;
  height: 16px;
  width: 27px;
  display: inline-block;
}

.trinity_testimonial .t_m_main_wrapper .content_wrapper .comment_bg .comment{ display: block; margin-left: 20px; position: relative;}

.trinity_testimonial .header_part h2{ color: #fff; text-align: center; font-family: " Times New Roman"; font-size: 34px; font-weight: bold; padding-top: 25px;}
.trinity_testimonial .header_part p{ color: #b9b9b9; text-align: center; font-family: "Arial"; font-size: 28px; font-weight: bold; margin: 10px ;}
.img_responsive{ max-width: 100%; height: auto; }


@media screen and (max-width: 1340px){
  .trinity_top .main_banner .main_banner_wrapper { width: 96%; position: relative; }
  .trinity_top .main_banner .main_banner_wrapper .left_wrapper { width: 40%; }
  .trinity_top .main_banner .main_banner_wrapper .right_wrapper { width: 60%; }
}
@media screen and (max-width: 1220px){
  .trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right { right: 50px; }
}
@media screen and (max-width: 1199px){
.trinity_top .main_banner .main_banner_wrapper .responsive_wrapper{
  display: flex;
  flex-direction: column-reverse;
}
.trinity_top .main_banner .main_banner_wrapper .left_wrapper {
  width: 60%;
  margin: 0 auto;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper {
  width: 100%;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .item_image {
  width: 100%;
  float: none;
  position: inherit;
  text-align: center;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right {
  right: 0;
  position: inherit;
  left: 0;
  top: 0;
  bottom: 0;
  background: #682b7b;
  width: auto;
  padding: 20px 50px;
  margin: 20px 0;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right {

  background-position: center center;
  background-size: inherit;
  height: auto;
  position: inherit;
  right: 0;
  bottom: 0;
  padding: 20px 50px;
  width: auto;
  background: #223e92;
  margin: 20px 0;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_wrapper {
  width: auto;
  background-size: inherit;
  bottom: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  min-height: inherit;
  background: #a40c11;
  position: inherit;
  margin: 20px 0;
  flex-direction: column;
  text-align: center;
}

.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row, .trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding: 0;
    padding-left: 30px;
    padding-top: 0;
    min-height: inherit;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .item_image img { margin-left: 0; }
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row, .trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row {

  min-height: inherit;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row .left_item,
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row .left_item {
  font-size: 90px;
  background: transparent;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px 5px;
  margin-bottom: 20px;
}

.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_wrapper .row1 {
  font-size: 90px;
  background: transparent;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px 5px;
  margin-bottom: 20px;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row .right_item h5 span,
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row .right_item h5 span {
  font-size: 24px;
}
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .top_right .row .right_item h5,
.trinity_top .main_banner .main_banner_wrapper .right_wrapper .bottom_right .row .right_item h5 {
  font-size: 18px;
}
}
@media screen and (max-width: 991px){
.trinity_top .main_banner .main_banner_wrapper .left_wrapper { width: 90%; }
}
@media screen and (max-width: 600px){
  .trinity_top .main_banner .main_banner_wrapper .left_wrapper .form_wrapper_badge { background: #4aabe3; }
  .trinity_top .main_banner .main_banner_wrapper .left_wrapper .form_wrapper { margin: 0px 5px; }
  .trinity_top .main_banner .main_banner_wrapper .right_wrapper .item_image img{ max-width: 100%;}
  .trinity_top .main_banner .main_banner_wrapper .left_wrapper { width: 98%; }
}
@media screen and (max-width: 480px){
.trinity_top .logo_wrapper img {
  margin-top: -50px;
  max-width: 100%;
}
}
