<div class="trinity_top">
  <div class="top_bar"></div>
  <div class="main_banner">
    <div class="main_banner_wrapper">
      <div class="logo_wrapper">
        <img src="/assets/images/trinitiLogo.png">
      </div>

      <div class="headerTag">
        <h1 class="header_title">The revolution has begun!</h1>
        <p class="subtitle">become a family member now</p>
      </div>
      <div class="left_wrapper">
        <div class="form_wrapper_badge">
          <h2>JOIN THE REVOLUTION</h2>
        </div>
        <form class="form_wrapper">
          <div class="input_wrapper">
            <input class="form-control" type="text" placeholder="First Name">
            <input class="form-control" type="text" placeholder="Last Name">
            <input class="form-control" type="text" placeholder="Email Address">
            <input class="form-control" type="text" placeholder="Phone Number">
            <textarea class="form-control" type="text" placeholder="Questions/Comments"></textarea>

            <button class="Submit_button">Submit Now!</button>
          </div>
        </form>
      </div>
      <div class="right_wrapper">
        <div class="item_image">
          <img src="/assets/images/trinitygirlimage.png">
        </div>
        <div class="top_right">
          <div class="row">
            <div class="left_item">1</div>
            <div class="right_item">
              <h3>FIRST WAY</h3>
              <h5><span>Daily Income Stream</span><br>
                When a Person Starts His/Her Own TrinitiComm Business &<br> Qualifies</h5>
            </div>
          </div>
        </div>

        <div class="bottom_right">
          <div class="row">
            <div class="left_item">2</div>
            <div class="right_item">
              <h3>FIRST WAY</h3>
              <h5><span>Weekly Income Stream</span><br>
                When a Person Starts His/Her Own TrinitiComm Business &<br> Qualifies</h5>
            </div>
          </div>
        </div>


        <div class="bottom_wrapper">
          <div class="row1">
            3
          </div>
          <div class="row2">
            <h4>third way</h4>
            <h5>Monthly Income Stream </h5>
            <p>Residual Commissions From Your Customer’s Monthly<br> Service Payments</p>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <h2 class="bottom_quote"><span>3 Ways To Benefit:</span> GET INSTANT GRATIFICATION</h2>
    </div>


  </div>

  <div class="bottomBg"> </div>


</div>
<!-- top blok end -->
<div class="bllok2">
  <div class="container">
    <h3>What Do You Really Want In Life?</h3>

    <div class="row">
      <div class="img_wrapper">
        <img src="/assets/images/blk2_leftimg.png">
      </div>
      <div class="content_wrapper">
        <p class="content">
          Triniti Communications, a next-generation digital services company, will change history with its innovative
          technology. It is for the people and by the people. Be empowered not exploited! No other opportunity out there
          right now will guarantee you a place in the history books.
        </p>
        <div class="row2">
          <div class="leftbottom">
            <img src="/assets/images/leftbottom.png">
          </div>
          <div class="right_tbottom">
            <img src="/assets/images/rightbottom.png">
          </div>
        </div>
      </div>

      <div class="rightside_icon">
        <img src="/assets/images/trinity_blk3_righticon.png">
      </div>
    </div>
  </div>
</div>

<!-- Blk4 -->
<div class="blk3_wrapper">
  <div class="left_bg">
    <div class="bl3_content">
      <ul>
        <li>Watch Your Family Grow In Real Time!</li>
        <li>Adopt Members &
          Customers Fast!</li>
        <li>Communicate With Your
          Family!</li>
        <li>Business Building Tools
          Available for Free and in
          the FMS Marketplace!</li>
        <li>Socialize and Grow, Book
          Trips, Watch Training
          Tutorials and More!</li>
      </ul>
    </div>
  </div>
</div>


<!-- communication sec -->
<div class="tri_com_mainbg">
  <div class="header_portion">
    <h2>Triniti Communications Innovative Services</h2>
  </div>
  <div class="tri_com_wrapper">

    <div class="tri_com_item">
      <div class="total_items_wrap ">
        <div class="items one">
          <div class="img_box">
            <img src="/assets/images/tri_com_gencysimage.jpg">
          </div>
          <div class="content_box">
            <h2>GeneSys - </h2>
            <p>
              Premium Digital
              Phone Service for
              Unlimited Long Distance
              and International Calling
            </p>
          </div>
        </div>
        <h3>DIGITAL PHONE</h3>
      </div>
      <div class="total_items_wrap">
        <div class="items two">
          <div class="img_box">
            <img src="/assets/images/tri_com_securityimage.jpg">
          </div>
          <div class="content_box">
            <h2>Divine Fortress –</h2>
            <p>
              Our Nationwide
              Wireless Broadband
              Home Security Platform
            </p>
          </div>
        </div>
        <h3>PREMISES SECURITY</h3>
      </div>
    </div>
    <div class="tri_com_item tri_consection3">
      <div class="com_logo_wrapper">
        <img src="/assets/images/trinitiLogo.png">
      </div>
      <div class="round-circle">
        <img src="/assets/images/tri_com_roundcircle.png">
      </div>
    </div>
    <div class="tri_com_item">
      <div class="total_items_wrap">
        <div class="items three">
          <div class="img_box">
            <img src="/assets/images/tri_com_hdtv.jpg">
          </div>
          <div class="content_box">
            <h2>Nuclius – </h2>
            <p>
              Next-Generation HDTV
              Service of the Future
            </p>
          </div>
        </div>
        <h3>mobile</h3>
      </div>
      <div class="total_items_wrap">
        <div class="items four">
          <div class="img_box">
            <img src="/assets/images/tri_com_mobile.jpg">
          </div>
          <div class="content_box">
            <h2>Spirit -</h2>
            <p>
              Truly Unlimited
              Nationwide Mobile
              Phone Service
            </p>
          </div>
        </div>
        <h3>hdtv</h3>>
      </div>
    </div>

  </div>


  <div class="bottom_content_wrapper">
    <div class="main_content">
      <div class="content">
        <div class="image_wrapper">
          <img src="/assets/images/tri_com_destina.jpg">
        </div>
        <div class="content_section">
          <h2>Destina –</h2>
          <p>
            Premium Broadband
            Service that Provides up
            to 30x Speed of Your
            Current Connection
          </p>
        </div>
      </div>
      <h3>HIGH-SPEED INTERNET</h3>
    </div>
  </div>
</div>

<!-- digital blok start -->
<div class="digitalEdge_bg">
  <div class="digitalEdge_content_wrapper">
    <div class="header_blok">
      <h2>A Cutting - Edge Digital Services Mix!</h2>
      <p>We Will Provide Several Innovative Services For Your Home and Business!</p>
    </div>

    <div class="d_e_partners_wrapper">
      <img src="/assets/images/destinaLogo.jpg">
      <img src="/assets/images/divine_fortressLogo.jpg">
      <img src="/assets/images/spirtWorld.jpg">
      <img src="/assets/images/geneSysLogo.jpg">
      <img src="/assets/images/nuclus.jpg">
    </div>

    <div class="service_content">
      <div class="left_wrapper1">
        <div class="image_container">
          <img src="/assets/images/worldlogo.png">
        </div>
        <div class="content_wrap">
          <ul>
            <li>Destina<sup>™</sup> Broadband Internet Service</li>
            <li>Spirit World<sup>™</sup> Free Global Calling</li>
            <li>Divine Fortress<sup>™</sup> Broadband Security</li>
            <li>GeneSystem<sup>™</sup> PBX/IVR Phone System</li>
            <li>FacePoint<sup>™</sup> Biometric Keyless Entry</li>
          </ul>
        </div>
      </div>
      <div class="right_wrapper1">
        <img src="/assets/images/partnerlogo.png">
      </div>
    </div>
  </div>
</div>

<!-- testimonials -->

<div class="trinity_"></div>
