<div class="trinity_top">
  <div class="top_bar"></div>
  <div class="main_banner">
    <div class="main_banner_wrapper">
      <div class="logo_wrapper">
        <img src="/assets/images/trinitiLogo.png">
      </div>

      <div class="headerTag">
        <h1 class="header_title">The revolution has begun!</h1>
        <p class="subtitle">become a family member now</p>
      </div>
      <div class="left_wrapper">
        <div class="form_wrapper_badge">
          <h2>JOIN THE REVOLUTION</h2>
        </div>
        <form class="form_wrapper">
          <div class="input_wrapper">
            <input class="form-control" type="text" placeholder="First Name">
            <input class="form-control" type="text" placeholder="Last Name">
            <input class="form-control" type="text" placeholder="Email Address">
            <input class="form-control" type="text" placeholder="Phone Number">
            <textarea class="form-control" type="text" placeholder="Questions/Comments"></textarea>

            <button class="Submit_button">Submit Now!</button>
          </div>
        </form>
      </div>
      <div class="right_wrapper">
        <div class="item_image">
          <img src="/assets/images/trinitygirlimage.png">
           </div>
          <div class="top_right">
            <div class="row">
              <div class="left_item">1</div>
              <div class="right_item">
                <h3>FIRST WAY</h3>
                <h5><span>Daily Income Stream</span><br>
                  When a Person Starts His/Her Own TrinitiComm Business &<br> Qualifies</h5>
              </div>
            </div>
          </div>

        <div class="bottom_right">
            <div class="row">
                <div class="left_item">2</div>
                <div class="right_item">
                  <h3>FIRST WAY</h3>
                  <h5><span>Weekly Income Stream</span><br>
                    When a Person Starts His/Her Own TrinitiComm Business &<br> Qualifies</h5>
                </div>
              </div>
        </div>


        <div class="bottom_wrapper">
          <div class="row1">
            3
          </div>
          <div class="row2">
             <h4>third way</h4>
             <h5>Monthly Income Stream </h5>
             <p>Residual Commissions From Your Customer’s Monthly Service Payments</p>
            </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="bottomBg">

  </div>
</div>
