@media only screen and (max-width: 1850px) {
    .home_block5 .mat-card-content h2 br{ display: none;}
}
@media only screen and (max-width: 1780px) {
    .home_block3 { padding-left: 30px!important; } 
    .home_block_new_textcontain { width: 1000px; }
    .s_ourteamblk-1 { background-position: 85% center!important;}
    .hidden_image{ display: none;}
}

@media only screen and (max-width: 1740px) {
    .s_ourteamblk-1 .s_blk-1_inner_wrapper { left: 25%; }
    .s_ourteamblk-2 .blok2_inner_wrapper { width: 1500px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .img_wrapper { width: 410px; height: 385px; }
    .blok2_sub .items { width: 28%; }
}
@media only screen and (max-width: 1680px) {
    .home_block2{ background-position: -100px bottom!important; padding: 0 100px 0 720px!important;}
    .home_block2 .mat-card-content h2 {  margin: 0 0 20px 0; font-size: 40px;}
    .s_ourteamblk-1 .s_blk-1_inner_wrapper .s_blk-1_heading { font-size: 95px; }
    .s_ourteamblk-1 .s_blk-1_inner_wrapper .s_blk-1_para { font-size: 28px; }
}

@media only screen and (max-width: 1660px) {
    .home_block3 {
        padding: 0 590px 0 30px!important;

        background-position: 122% top !important;
    }

    .home_block5 .mat-card-content h2 { font-size: 26px;}

    .home_block_new_textcontain h2:before { height: 70%;}

    }


@media only screen and (max-width: 1620px) {

    .home_block4 .mat-card-content {
        width: 1300px;}

    .home_block4 .mat-card-content ul li strong{ font-size: 17px;}

    .home_block4 .mat-card-content ul li{ height: 275px;}

    .home_block4 .mat-card-content ul li span{ margin: 6px 12px;}

    .home_block_new_wrapper{ width: 1300px;}

    .home_block_new_textcontain {
        width: 790px;
    }


    .home_block_new_textcontain h2 {font-size: 38px; line-height: 48px;  }
}

@media only screen and (max-width: 1600px) {
    .header_top .header_top_wrapper{   width: 1480px;}

    .pic-wrapper .figure1{ background-position: 0px top!important;}
    .pic-wrapper .figure2{ background-position: 0px top!important;}
    .s_ourteamblk-1 { background-position: 80% center!important; }
    .s_ourteamblk-2 .blok2_inner_wrapper { width: 1380px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container { width: 67%; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .img_wrapper{ width: 395px; height: 370px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container .blk2-para{ line-height: 28px; }
    .blok2_sub .items { width: 26%; }
    .blok2_sub .items { width: 30%;}
    .blok2_sub .items:last-child { width: 40%; }
}

 
@media only screen and (max-width: 1550px) {
    .s_ourteamblk-1 { background-position: 45% center!important; }
    .s_ourteamblk-1 .s_blk-1_inner_wrapper { left: 27%; }
.s_ourteamblk-1 {
    background-position: 45% center!important;
}
    .home_block5{ background-position: -170px bottom!important; padding: 0px 530px 0px 410px!important;}

    .home_block5_form{ right: 40px!important;}


    .home_block3 {
        padding: 0 520px 0 30px!important;
        background-position: 132% top !important;
    }
}


@media only screen and (max-width: 1480px) {
    .header_top .header_top_wrapper{ width: 1280px; }
    .pic-wrapper .figure1 { background-position: -70px top!important; }
    .pic-wrapper .figure2 { background-position: -260px top!important; }
    .vpblock1bg .vpblock1wrapper .vpblock1wrappercontent { padding: 8px 0px 8px 40px;  }
    .home_block3 { padding: 0 480px 0 30px!important; background-position: 148% top !important; }
    .s_ourteamblk-1 { background-position: 55% center!important; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container { width: 60%; }
    .s_ourteamblk-2 .blok2_inner_wrapper { width: 1300px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .img_wrapper { width: 433px; height: 410px; }
}


@media only screen and (max-width: 1450px) {
    .home_block3 { padding: 0 460px 0 30px!important; background-position: 158% top !important; }
}

@media only screen and (max-width: 1440px) {

.home_block2 { background-position: -240px bottom!important; padding: 0 80px 0 580px!important; }
.team_inner_wrapper .top_left, .team_inner_wrapper .bottom_right  { display: none;}
.team_inner_wrapper .inner_wrap { width: 380px; margin: 1%; }
.team_inner_wrapper .mat-card-content:first-child { margin-top: 1%!important; }
.contact_wrapper { width: 85%; }
}

@media only screen and (max-width: 1420px) {
.home_block3 { padding: 0 420px 0 30px!important; background-position: 166% top !important; }
.home_block_new_textcontain { width: 710px; }
}

@media only screen and (max-width: 1400px) {
    .home_block3 { padding: 0 420px 0 30px!important; background-position: 164% top !important; }
    .s_ourteamblk-1 .s_blk-1_inner_wrapper { left: 27%; width: 585px; }
    .s_ourteamblk-1 .s_blk-1_inner_wrapper .s_blk-1_heading { font-size: 90px; }
    .s_ourteamblk-1 .s_blk-1_inner_wrapper .s_blk-1_para { font-size: 24px; line-height: 30px; }
     
}

@media only screen and (max-width: 1380px) {
    .home_block3 { padding: 0 390px 0 30px !important; background-position: 176% top !important; }
}

@media only screen and (max-width: 1366px) {
    .s_ourteamblk-2 .blok2_inner_wrapper { width: 1240px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container .blk2-para { line-height: 24px; padding: 25px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container { width: 62%; }
    .blok2_sub .items .mat-list-item {font-size: 15px;}
}
@media only screen and (max-width: 1360px) {
    .home_block5 { background-position: -210px bottom!important; padding: 0px 510px 0px 360px!important; }
    .home_block5 .mat-card-content h2 { font-size: 28px;}
    }

@media only screen and (max-width: 1350px) {
    .pic-wrapper .figure1 { background-position: -140px top!important; }
    .home_block3 { padding: 0 400px 0 20px!important; background-position: 178% top !important; }
}


@media only screen and (max-width: 1320px) {

    .home_block4 .mat-card-content { width: 1180px; }
    .home_block4 .mat-card-content ul li strong { font-size: 15px; }
    .home_block_new_wrapper{ width: 1180px;}
    .home_block_new_textcontain { width: 590px; }
    .home_block_new_textcontain h2 { font-size: 28px; line-height: 35px; }
    .s_ourteamblk-2 .blok2_inner_wrapper { width: 1185px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container .blk2-heading { padding: 25px!important; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container { width: 60%; }
    .team_inner_wrapper { width: 1160px; }
    .team_inner_wrapper .inner_wrap { width: 360px; padding: 25px 0;}
    .team_inner_wrapper .inner_wrap .mat-card-title { font-size: 24px; }
    .team_inner_wrapper .inner_wrap .mat-card-subtitle { font-size: 18px;}
    .inner_banner_content { padding-left: 23px; width: 60%; }
}

@media only screen and (max-width: 1300px) {
    .home_block3 { padding: 0 380px 0 20px!important; background-position: 188% top !important; }
    .home_block3 .mat-card-content .beto_img1 { float: left;  margin-top: -14px; }
    .home_block3 .mat-card-content .mat-card-subtitle h3 label{ display: block; border: none; padding: 0px; margin: 10px 0 0 0;}
}

@media only screen and (max-width: 1280px) {

    .home_block5 .mat-card-content h2 { font-size: 23px; }
    .header_top .header_top_wrapper{width: 1190px;}
    .mainfooter_wrapper{width: 1160px;}
    .mainfooter_block1_con2 { width: 145px; float: left; margin: 0 172px; }
    .pic-wrapper .figure1 {  background-position: -200px top!important; }
    .pic-wrapper .figure2 { background-position: -370px top!important; }
    .vpblock1bg .vpblock1wrapper{ width: 500px;}
    .vpblock1bg .vpblock1wrapper .vpblock1wrappercontent h3 {font-size: 180px; line-height: 170px;}
    .home_block2 { background-position: -255px bottom!important; padding: 0 40px 0 570px!important; }
}


@media only screen and (max-width: 1240px) {
    .s_ourteamblk-2 .blok2_inner_wrapper { width: 1130px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .img_wrapper { width: 405px; height: 380px; }
    
}
@media only screen and (max-width: 1199px) {
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container { text-align: center; }
    .s_ourteamblk-2 .blok2_inner_wrapper { width: 90%; margin: 0 auto; align-items: center; justify-content: center;  }
    .team_inner_wrapper { width: 90%;}
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container .blk2-heading { justify-content: center; }
    .team_inner_wrapper .inner_wrap { width: 28%; padding: 15px; }
    .team_inner_wrapper .inner_wrap .footer_caption{margin-top: 15px;}
    .team_inner_wrapper .inner_wrap .mat-card-title { font-size: 22px; }
    .team_inner_wrapper .inner_wrap .mat-card-subtitle { font-size: 14px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container { width: 100%; margin-top: 25px; }
    .home_block_new_wrapper {width: 90%; }  
    .home_block_new_textcontain {width: 100%; height: auto;display: block!important; vertical-align: middle;}
    .home_block_new_div2{ background-position: center 15px!important; background-size: 588px!important;     padding-top: 430px!important; padding-bottom: 35px!important;}
    .home_blocknewlink{ margin-left: auto; margin-right: auto;}
    .home_block_new_textcontain h2:before{ display: none;}
    .home_block_new_textcontain h2 {  text-align: center; padding-left: 0px; }
    .home_block5 .mat-card-content h2 {font-size: 30px; }
    .home_block4 .mat-card-content{padding: 40px 0 45px 0;}
    .home_block5 { background-position: left bottom!important; box-shadow: none!important; height: auto; padding: 30px 15px 67% 15px!important; background-size: 120%!important; }
    .home_block5_form { position: inherit!important; right: 0px!important; top:0px!important; width: auto!important; margin-top: 30px; }
    .home_block5 .mat-card-content { width: 100%; display: block; text-align: center; ertical-align: middle; height: auto; }
    .home_block4 .mat-card-content { width: 90%; }
    .home_block4 .mat-card-content ul li strong { font-size: 20px; padding-top: 75px; }
    .home_block4 .mat-card-content h2 br{ display: none;}
    .home_block4 .mat-card-content ul li { height: auto; width: 100%; float: none; display: block; padding-bottom: 25px; position: relative;     margin-bottom: 90px
    }

    .home_block4 .mat-card-content ul li:last-of-type{ margin-bottom: 0px;}

    .home_block4 .mat-card-content ul li label{ margin: 0; padding: 0; display: block; position: absolute; top: -66px; width: 100%;}

    .home_block4 .mat-card-content ul li img {
        display: block;
        margin: 0 auto;
        margin-top: 0;
    }
    .home_block4 .mat-card-content ul li span{ text-align: center; background-position: center top; padding: 15px 0 0 0; margin-bottom: 15px;}
    .mainfooter_wrapper{    width: 100%;}
    .header_top{ padding: 0px!important;}
    .header_top .header_top_wrapper{  width: 100%;}

    .header_top_left{ width: 100%; float: none; margin-left: 0px; text-align: center; padding: 15px 0 0 0;}

    .top_menu { width: 100%; float: none;     padding-top: 0px;  margin-bottom: 0px!important;}

    .top_menu li{ margin: 0px; float: none;  text-align: center; border-bottom: solid 1px #000; padding: 10px 0;}
    /*.top_menu li:last-of-type{ border: none;}*/

    .top_menu ul{ background: #1f1f1f;}

    .top_menu li button{  border: none;  width: 100%;}

    .top_menu li button:hover{  border: none;}

    .top_menu li button:visited{ border: none;}
    .top_menu li button:focus{ border: none; }

    .top_menu li button{ text-align: center;}

    .dropdownmenu{ border: none!important;}

    .dropdownmenu button{ border-left: none!important; border-right: none!important; border-bottom: none!important;  background: #c2d7c6!important; width: auto; display: block;}

    .top_menu li .submenu{ position: relative; padding-right: 0px;}

    .top_menu li .submenu .material-icons{ margin: 0 0 0 5px; float: none;  position: absolute;
        top:10px; }

    .top_menu li .submenu  span{ display: inline-block; float: none;}

    /*------------------------*/


    .mainfooter_block1_con1{ width:auto; padding: 0 15px; float: none; text-align: center; display: block!important;}
    .mainfooter_block1_con3{   width:auto; padding: 0 15px; text-align: center; display: block!important; float: none;}
    .mainfooter_block1_con2{   width:auto;   display: block!important; text-align: center;  padding: 25px; margin: 0px;  margin-top: 25px!important; margin-bottom: 35px!important;    border-top: solid 1px #382e24;     border-bottom: solid 1px #382e24; float: none;}


    .mainfooter_block1_con2 ul li{ padding:8px 0;}

    .mainfooter{ padding-top: 0px!important;}

    .vpblock1bg {  background: #e5c19c!important; }
.pic-wrapper{ height: auto;     overflow: hidden; padding-top: 42%; }



    .vpblock1bg .vpblock1wrapper { position: inherit; top: 0%;transform: translate(0%, 0%);left: 0%;padding: 0; bottom: inherit;  width: 100%;  text-align: center; }
    .vpblock1bg .vpblock1wrapper .vpblock1wrappercontent {
        padding: 10px 15px 25px 15px;
    }

    .pic-wrapper .figure2 { background-position: right top!important; background-size: 210%; background-repeat: no-repeat; }
    .pic-wrapper .figure1 { background-position: right top!important; background-size: 150%;  background-repeat: no-repeat; }
    .vpblock1bg .vpblock1wrapper .vpblock1wrappercontent p br{ display: none;}
    .home_block2 { background-position: center bottom!important; padding: 30px 15px 56% 15px!important; height: auto; background-size: 100%!important;
    }
    .home_block2 .mat-card-content { margin: 0; padding: 0; display: block; height: auto; vertical-align: inherit; text-align: center; }
    .home_block2 .mat-card-content p { border-left: none; margin: 0; padding: 0 0 0 0; font-size: 16px; line-height: 30px; }
    .home_block2link{ margin-left: auto; margin-right: auto;}
    .home_block3 { background-position: right bottom!important; background-size: 130%!important; padding: 30px 15px 87% 15px!important; height: auto; }
    .home_block3 .mat-card-content{ margin: 0; padding: 0; display: block;   height:auto; text-align: center;}
    .home_block3 .mat-card-content .beto_img1 { float: none; margin-top: 0; margin-bottom: 30px; display: block; margin-left: auto; margin-right: auto;}
    .home_block3link{ margin-left: auto; margin-right: auto;}
    .team_inner_wrapper .inner_wrap { margin-bottom: 1%!important; }
    .s_ourteamblk-1 { background-position: 100% top!important; min-height: inherit; background-size: 185%!important; padding: 20px!important;
        padding-top: 50%!important; background-color: #e6c19d!important; text-align: center; }
    .s_ourteamblk-1 .s_blk-1_inner_wrapper { left: 0; width: 100%; top: 0; position: inherit; transform: inherit; }
    .blok2_sub2 .blok2_sub2_para { text-align: center; }
    .contactusbannerbg { min-height: inherit; background-size: 175% !important; background-position: 100% top!important; padding-top: 45%!important; background-color:#f3d7bf!important; }
    .inner_banner_content { padding-left: 0; width:auto; padding: 15px; }
    .generalcls .inner_banner_content.mat-card-content .mat-card-title { margin-bottom: 0px !important; }
    .inner_banner.contactusbannerbg.generalcls .mat-card-title {  padding-top: 0%!important; }
}

@media only screen and (max-width: 1140px) {
    .team_inner_wrapper .inner_wrap { width: 28%; padding: 15px; }
}
@media only screen and (max-width: 991px) {
    .blok2_sub .items { width: 100%; text-align: center; height: auto!important; height: 36px!important; }
    .blok2_sub .items:last-child { width: 100%; }
    .blok2_sub .items .mat-list-item ::before { display: none;}
    .blok2_sub .items, .blok2_sub .items:last-child { padding-top: 0; }
    .blok2_sub .blok2_sub_title { justify-content: center; }
    .team_inner_wrapper .inner_wrap { width: 33%; }
    .blok2_sub .blok2_sub_title { text-align: center; }
    .blok2_sub .blok2_sub_title .mat-card-header-text{ margin: 0!important;}
}
@media only screen and (max-width: 920px) {
    .team_inner_wrapper .inner_wrap { width: 36%; }
}
@media only screen and (max-width: 820px) {
    .team_inner_wrapper .inner_wrap { width: 42%; }
}
@media only screen and (max-width: 767px) {
.home_block_new_div2{   background-size: 90%!important; padding-top: 66%!important; }
.contact_wrapper .mat-card-subtitle:nth-of-type(1) .mat-form-field,  
.contact_wrapper .mat-card-subtitle:nth-of-type(2) .mat-form-field:nth-of-type(2),
.contact_wrapper .mat-card-subtitle:nth-of-type(2) .mat-form-field:nth-of-type(3),
.contact_wrapper .mat-card-subtitle:nth-of-type(2) .mat-form-field:nth-of-type(4),
.contact_wrapper .mat-card-subtitle:nth-of-type(2) .mat-form-field:nth-of-type(5),
.contact_wrapper .mat-card-subtitle:nth-of-type(3),
.contact_wrapper .mat-card-subtitle:nth-of-type(4),
.contact_wrapper .mat-card-subtitle:nth-of-type(2) .mat-form-field:nth-of-type(1),
.contact_wrapper .mat-card-subtitle:nth-of-type(5) .mat-form-field {
    width: 100%;
    margin: 0;
    float: none;
}
.contact_wrapper .mat-card-subtitle p { padding: 0; }
.contact_wrapper { width: auto; }
}

@media only screen and (max-width: 700px) {
    .team_inner_wrapper .inner_wrap .mat-card-title { font-size: 18px; }
}
@media only screen and (max-width: 668px) {
    .team_inner_wrapper { width: 95%; }
    .inner_banner.contactusbannerbg.generalcls .mat-card-title { font-size: 85px !important; }
}

@media only screen and (max-width: 580px) {
    .vpblock1bg .vpblock1wrapper .vpblock1wrappercontent h3 { font-size: 114px; line-height: 124px; }
    .vpblock1bg .vpblock1wrapper .vpblock1wrappercontent h2 { line-height: 40px;}
    .vpblock1bg .vpblock1wrapper .vpblock1wrappercontent { padding: 15px 15px 25px 15px; }
    .vpblock1bg .vpblock1wrapper .vpblock1wrappercontent h4 { padding: 9px 0 15px 0; }
    .pic-wrapper .figure1 { background-position: right top!important; background-size: 180%; background-repeat: no-repeat; }
    .pic-wrapper .figure2 { background-position: right top!important; background-size: 230%; background-repeat: no-repeat; }
    .pic-wrapper { padding-top: 50%; } 
    .home_block2 { padding: 30px 15px 58% 15px!important; }

    .home_block_new_div2{ padding-top: 68%!important; }

    }
    @media only screen and (max-width: 560px) {
        .team_inner_wrapper .inner_wrap { width: 100%; }
        .team_inner_wrapper { width: 60%; }
        .team_inner_wrapper .inner_wrap { margin-bottom: 4%!important; }
        .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .img_wrapper { width: 100%; height: auto; }
        .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .img_wrapper img { width: 90%; margin-bottom: -10px; }
        .s_ourteamblk-1 .s_blk-1_inner_wrapper .s_blk-1_heading { font-size: 64px; line-height: 90px; }
        .contact_wrapper { padding: 35px; }
        .inner_banner.contactusbannerbg.generalcls .mat-card-title { font-size: 60px !important; }
        .contact_wrapper .lowerBg1, .contact_wrapper .lowerBg2{ display: none; }
        .contact_wrapper .contactsubbtn { margin-top: 30px!important; margin-bottom: 10px!important; }
    }
@media only screen and (max-width: 520px) {
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .caption .caption_para { font-size: 28px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container .blk2-heading { padding: 20px!important; font-size: 26px; }
    .inner_banner.contactusbannerbg.generalcls .mat-card-title { font-size: 58px !important; }
}
@media only screen and (max-width: 480px) {
    .team_inner_wrapper { width: 70%; }
    .s_ourteamblk-1 .s_blk-1_inner_wrapper .s_blk-1_heading { font-size: 50px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container .blk2-heading { font-size: 22px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .caption .caption_para { font-size: 22px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container .blk2-para { padding: 25px 10px; }
    .contact_wrapper { padding: 25px; }
     
}
@media only screen and (max-width: 400px) {
.inner_banner.contactusbannerbg.generalcls .mat-card-title {
    font-size: 48px !important;
}
}
@media only screen and (max-width: 380px) {
.vpblock1bg .vpblock1wrapper .vpblock1wrappercontent h3 { font-size: 108px; line-height: 118px; }
    .home_block5 .mat-card-content h4{ width: 300px; height: 300px; background-size: 100%; }
    .home_block5 .mat-card-content h4 label { width: 300px; height: 300px; font-size: 15px; line-height: 30px; }
    .team_inner_wrapper { width: 85%; }
    .s_ourteamblk-1 .s_blk-1_inner_wrapper .s_blk-1_heading { font-size: 46px; line-height: 80px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .caption .caption_title { font-size: 30px;}
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .caption .caption_para { font-size: 18px; }
    .s_ourteamblk-2 .blok2_inner_wrapper .inner_right_container .blk2-heading { font-size: 20px; }
    .contact_wrapper { padding: 15px; }
}
@media only screen and (max-width: 320px) {
.s_ourteamblk-2 .blok2_inner_wrapper .inner_left_container .caption .caption_para { font-size: 16px; }
}