
<div class="page-recover_landing2">
<div class="container-fluid rl_block1">

    <div class="rl_block1_body1">

        <div class="container">

            <div class="rl_block1_left">
                <img src="../../assets/images/vivacity_logo.png" class="vivacity_logo">
                <img src="../../assets/images/recover_top_img1.png" class="recover_top_img1">

                 <div class="rl_block1_con1">
                     <h2> 30 Day no-risk </h2>
                     <h3>money back guarantee!</h3>

                 </div>

                <div class="rl_block1_procon">
                <img src="../../assets/images/recover_top_img14.png" class="recover_top_img14">


                    <div class="rl_block1_inimg">
                <!--<img src="../../assets/images/recover_top_in_img1.png" class="recover_top_in_img1">-->
                <img src="../../assets/images/recover_top_in_img2.png" class="recover_top_in_img2">
               <!-- <img src="../../assets/images/recover_top_in_img3.png" class="recover_top_in_img3">-->
                <!--<img src="../../assets/images/recover_top_in_img4.png" class="recover_top_in_img4">-->

                        <img src="../../assets/images/recover_top_img11.png" class="recover_top_img11">
                </div>
                </div>

                <div class="rl_block1textcon">

                    <ul>
                        <li>Improves All Stages of Sleep!</li>
                        <li>Increases the Benefits of Sleep!</li>
                        <li>Reduces Free Radicals!</li>
                        <li>Antioxidant!</li>
                        <li>Increases Serotonin!</li>
                        <li>Restores Health!</li>
                    </ul>


                </div>


                <div class="rl_block1bottomcon">

                    <h2>Free Bottle on Select Packages<!--GET BETTER SLEEP TONIGHT!--></h2>

                    <img src="../../assets/images/recover_top_img11.png" class="recover_top_img11">
                    </div>

            </div>

            <div class="rl_block1_right">

                <h5>RECOVER IS HERE TO HELP<br>
                    YOU HIT THE ROAD RUNNING!
                </h5>

                <h6>
                    The great sleep you<br>
                    need  to start the day off right.
                </h6>

                <img src="../../assets/images/recover_top_img2_page2.png" class="recover_top_img2">


                <div class="rl_formwrapper">
                    <img src="../../assets/images/recover_top_img3.png" class="recover_top_img3">

                    <div class="rl_formwrapper_body1">

                        <div class="rl_formwrapper_body2">

                            <div class="rl_formwrapper_heading">
                                <h2>GET BETTER SLEEP NOW!</h2>
                                <h3>Fill out the order form to get<br>
                                    your bottle of Recover
                                </h3>

                            </div>

                            <form class="rl_formwrapper_formcon" name='landing_page' action="<?=$_SERVER['REQUEST_URI']?>" target="_self" method="post" id="recoverlandingform">

                                <input type="text" class="form-control" placeholder="First Name" name="first_name" id="first_name">
                                <input type="text" class="form-control" placeholder="Last Name" name="last_name" id="last_name">
                                <input type="text" class="form-control" placeholder="Email" name="email" id="email">
                                <input type="text" class="form-control" placeholder="Phone"  name="phone" id="phone">
                                <input type="text" class="form-control" placeholder="Zip Code"  name="zip" id="zip">


                            <div class="rl_formwrapper_btndiv">
                                <input type="submit" id="btnrushmyorder" value="Select Package Now!" class="orderbtn">
                                <img src="../../assets/images/recover_top_img6.png" class="recover_top_img6">
                                </div>

                            </form>

                            <div  class="recover_top_img8"><img src="../../assets/images/recover_top_img8.png"></div>




                        </div>

                    </div>


                    </div>


            </div>


             <div class="clearfix"></div>

      </div>

    </div>
</div>

    <div class="container-fluid rl_block2_top">
        <div class="rl_block2_top_wrapper">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rl_wrapper_top_right">
                    <img src="../../assets/images/watchvideo.png" class="r1watchvideoimg">
                    <div class="video-container-wrapper">
                        <!--<iframe src="https://player.vimeo.com/video/235253871" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>--><iframe src="https://player.vimeo.com/video/229790147" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rl_wrapper_top_left">
                    <div class="row">
                        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 rl_wrapper_top_right_inner">
                            <p>In my practice over the past two years, I have recommended Recover to over 80% of my adult patients who needed help falling asleep quickly and staying asleep for a complete night’s rest. Watch the video to learn about the Science of Sleep and how the ingredients in Recover work together to restore your body's natural health.”</p>
                            <h4>~Dr. Mike Marino</h4>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 rl_wrapper_top_left_inner">
                            <img src="../../assets/images/rlwrappertopleftinner_img.png" class="rlwrappertopleftinnerimg">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


<div class="container-fluid rl_block2">
    <div class="container rl_block2_wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rl_wrapper">
                <div class="rl_block2titleheader">
                    <h6 data-text="VIVACITY ALL NATURAL SUPPLEMENTS">VIVACITY ALL NATURAL SUPPLEMENTS</h6>
                </div>
                <div class="rl_block2content">
                    <div class="row">
                        <div class="rl_block2contentdiv1">
                            <h1>Experience what Recover can do for you.</h1>
                            <p>Sleep allows our bodies precious time to restore and rejuvenate, and without enough quality sleep, our health suffers. Proper sleep is one of the most important contributors to good health. Unfortunately, many people either can’t sleep or don’t get enough sleep for other reasons. The amount of sleep needed each night varies, but for adults, getting at least seven hours every night is crucial to having a healthy mind and body. Recover promotes a gentle detoxification and increases serotonin while your body repairs and prepares for another day. Formulated with zeolite and melatonin, Recover absorbs free radicals and prolongs the REM sleep cycle, the most rejuvenating portion of your sleep pattern. Better sleep makes for a healthier mind and body.<br><br>Make the most of your body’s essential and naturally designated revitalization period and work towards a healthier body while you sleep!  </p>
                            <ul>
                                <li><span><label>100% natural and with no negative side effects.</label></span></li>
                                <li><span><label>Increase your energy, zest and improve your attitude like never before.</label></span></li>
                                <li><span><label>Feel energized, focused and confident.</label></span></li>
                                <li><span><label>Rebuild your body as you sleep.</label></span></li>
                            </ul>

                        </div>
                        <img src="../../assets/images/r1b2_img1_page2.png" class="r1b2img1">
                        <img src="../../assets/images/r1b2_img2_page2.png" class="r1b2img2">
                        <div class="btnbuynowwrapper">
                            <a class="btnruchmyorder scrlbtn">Select Package Now</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid rl_block3">
    <div class="container rl_block3_wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rl_wrapper">
                <div class="rl_block3titleheader">
                    <h6 data-text="Recover gives you">Recover gives you <span>rejuvenating sleep and so much more!</span></h6>

                </div>
                <div class="rl_block3content">
                    <div class="row">
                        <div class="rl_block3contentdiv1">
                            <h1>The road to success is paved with great sleep.</h1>
                            <p>Whether you're a student studying for final exams, a working professional interested in doing all you can to stay mentally sharp, or a senior looking to improve the way you feel as you age, Vivacity Recover is a great way to feel wonderful from when you awake till bedtime. With great sleep, you'll have lots of energy during the day. Recover to live young. <br><br>   Recover offers health and regeneration at the cellular level. With the amazing ingredients Collagen and Aloe Vera, your cells will be aided in youthful recovery, regeneration, and rejuvenation while you sleep. Wake up feeling more rested, younger, and healthier every morning with Recover!  </p>

                        </div>
                        <div class="btnbuynowwrapper">
                            <a class="btnruchmyorder scrlbtn">Select Package Now</a>
                        </div>
                        <img src="../../assets/images/r1b3_img1_page2.png" class="r1b3img1">
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid rl_block4">
    <div class="container rl_block4_wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rl_wrapper">
                <div class="rl_block4titleheader">
                    <h6 data-text="RECOVER RESTORATIVE SLEEP FORMULA">RECOVER RESTORATIVE SLEEP FORMULA</h6>
                </div>
                <div class="rl_block4content">
                    <div class="row">
                        <div class="rl_block4contentdiv1">
                            <h1>Sleep well and recover health for a new you.</h1>
                            <p>Proper sleep plays a vital role in good health throughout your life. The proper amount of quality sleep helps protect your mental health, physical health, quality of life, and safety. During sleep, your body is working to maintain healthy brain function and physical health. Impairment caused by sleep deficiency can occur in an instant (such as in a work accident), or it can be chronically causing damage over time. For example, ongoing sleep deficiency can raise your risk for some health problems. It also can affect how well you think, react, work, learn, and get along with others.</p>
                        </div>
                        <div class="btnbuynowwrapper">
                            <a class="btnruchmyorder">RECOVER TO A GREAT MORNING AND A BETTER DAY!</a>
                        </div>
                        <img src="../../assets/images/r1b4_img1_page2.png" class="r1b4img1">
                        <img src="../../assets/images/r1b4_img2page2.png" class="r1b4img2">
                        <img src="../../assets/images/r1b4_img3.png" class="r1b4img3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid rl_block5">
    <div class="container rl_block5_wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rl_wrapper">
                <div class="rl_block5titleheader">
                    <h6 data-text="100% ALL NATURAL INGREDIENTS">100% ALL NATURAL INGREDIENTS</h6>
                </div>
                <div class="rl_block5content">
                    <div class="row">
                        <div class="rl_block5contentdiv1">
                            <div class="row">
                                <div class="col-lg-3 col-lg-12 col-sm-12 col-sm-12 rlblock5content rlblock5contentone">
                                    <img src="../../assets/images/r1b5sec1_img3.png" class="r1b5sec1img1">
                                    <div class="rlblock5contentoneinner">
                                        <h2>Melatonin</h2>
                                        <p>A naturally occurring hormone that aids in healthy sleep by producing healthy sleep patterns and prolonging the REM cycle.<!--A naturally occurring hormone that has been used for years to aid in healthy sleep patterns by prolonging the REM cycle.--></p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-lg-12 col-sm-12 col-sm-12 rlblock5content rlblock5contenttwo">
                                    <img src="../../assets/images/r1b5sec1_img1.png" class="r1b5sec1img2">
                                    <h2>5-HTP</h2>
                                    <p>Produces serotonin, the feel-good hormone, which increases relaxation and calmness thereby allowing for healthy sleep.<!--Works in the brain and central nervous system to increase the production of serotonin, the feel-good hormone.--></p>
                                </div>
                                <div class="col-lg-3 col-lg-12 col-sm-12 col-sm-12 rlblock5content rlblock5contentthree">
                                    <img src="../../assets/images/r1b5sec1_img2.png" class="r1b5sec1img3">
                                    <h2>Raspberry Ketones</h2>
                                    <p>Regulates hunger and curbs night-time cravings for natural and healthy weight loss.<!--Promotes weight loss by aiding the body in breaking down fats and regulating fat-burning protein stimulation.--></p>
                                </div>
                                <div class="col-lg-3 col-lg-12 col-sm-12 col-sm-12 rlblock5content rlblock5contentfour">
                                    <img src="../../assets/images/r1b5sec1_img5.png" class="r1b5sec1img4">
                                    <h2>Collagen</h2>
                                    <p>Improves skin health, reduces wrinkles, decreases symptoms of arthritis and has many anti-aging properties.</p>
                                </div>
                                <div class="col-lg-4 col-lg-12 col-sm-12 col-sm-12 rlblock5content rlblock5contentfive">
                                    <img src="../../assets/images/r1b5sec1_img6.png" class="r1b5sec1img5">
                                    <div class="rlblock5contentfiveinner">
                                        <h2>Aloe Vera</h2>
                                        <p>Promotes gentle detoxification, boosts the body’s natural ability to adjust to external surroundings and resist illness.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-lg-12 col-sm-12 col-sm-12 rlblock5content rlblock5contentsix">
                                    <img src="../../assets/images/r1b5sec1_img7.png" class="r1b5sec1img6">
                                    <div class="rlblock5contentsixinner">
                                        <h2>Zeolite</h2>
                                        <p>Removes heavy metal contamination, boosts the immune system, balances the pH of the body.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-lg-12 col-sm-12 col-sm-12 rlblock5content rlblock5contentseven">
                                    <img src="../../assets/images/r1b5sec1_img4.png" class="r1b5sec1img7">
                                    <div class="rlblock5contentseveninner">
                                        <h2>Crystalloid Electrolytes</h2>
                                        <p>Are carriers and make the ingredients in Recover more effective by helping to transport them straight to cells.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="../../assets/images/r1b5_img1.png" class="r1b5img1">
                        <div class="btnbuynowwrapper">
                            <a class="btnruchmyorder scrlbtn">Select Package Now<!--rush my order--></a>
                        </div>                        
                    </div>
                </div>
                <img src="../../assets/images/r1b5_imgbg_page2.png" class="r1b5imgbg">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid rl_block6">
    <div class="container rl_block6_wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rl_wrapper">
                <div class="rl_block6titleheader">
                    <h6 data-text="RECOVER RESTORATIVE SLEEP FORMULA">RECOVER RESTORATIVE SLEEP FORMULA</h6>
                </div>
                <div class="rl_block6content">
                    <div class="row">
                        <div class="rl_block6contentdiv1">
                            <h1>Recover is the Complete and PErfect Sleep Formula!</h1>
                            <h2>Sleep well and recover health for a new you.</h2>
                        </div>
                        <div class="btngetsuplimentnowwrapper">
                            <a class="btngetsuplimentnow scrlbtn"><h3>GET THE RECOVER SUPPLEMENT NOW!</h3></a>
                        </div>
                        <img src="../../assets/images/r1b6_img1_page2.png" class="r1b6img1">
                        <img src="../../assets/images/r1b6_img2_page2.png" class="r1b6img2">
                        <img src="../../assets/images/r1b6_img4.png" class="r1b6img4">
                        <div class="btnbuynowwrapper">
                            <a class="btnruchmyorder scrlbtn">Select Package Now<!--rush my order--></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

