<div class="container-fluid">
  <div class="row">
      <img src="../../assets/images/signupforblockchain-img6.jpg" class="signupforblockchain6 imgresponsive">
  </div>
</div>
<div class="container-fluid communitysignupnewblock1 signupforblockchainblock1">
  <div class="row">
    <div class="container newwrapper">
      <h1 class="titletxt1">Protect your creative<br> work with Blockchain! </h1>
      <div class="communitysignupnewblock1inner">

        <div class="communitysignupnewblock1left">
          <div class="bannerleftnew">
            <h2 class="titletxt2">Certify ownership of finished<br> products AND works in progress!</h2>
            <h1 class="titletxt3">Exclusive on <span><img src="../../assets/images/artistheaderlogo.png"></span></h1>
            <div class="manimgwrapper">
            <img src="../../assets/images/signupblockchainleftimgman.png" class="imgmanleft">


            <ul class="vbllist1">
              <img src="../../assets/images/signupblockchainlogoicon.png" class="iconblockchain">
              <li><span>Inexpensive-</span>A fraction of the cost of registering<br> through government agencies</li>
              <li><span>Fast-</span>Certify your work in a matter of minutes, not<br> weeks or months</li>
              <li><span>Convenient-</span>No need to fill out extensive forms,<br> do it all right through ArtistXP!</li>
            </ul>
            <img src="../../assets/images/signupblockchainleftmanhand.png" class="manhand">
            </div>
            <div class="vblb6img5">
              <h2>Block chain your Media now!</h2>
            </div>


          </div>

        </div>
        <div class="communitysignupnewblock1right">
          <h2 class="formtoptxt">Only $19.95<br> for 10 Certifications!<!--For 10 Medias!--> </h2>
          <form class="formdiv" name="dancingform" novalidate [formGroup]="blockchainForm" (ngSubmit)="dosubmit(blockchainForm.value)">
            <div class="cslandingformwrapper" #destinationRef>
              <div class="cslandingformheader">
                <h1>protect your <span>creative work!</span></h1>
              </div>
              <div class="cslandingforminnerwrapper">
                <div class="form-group hide">
                </div>
                <div class="form-group">
                  <span class="has-error" *ngIf ="existmsg!='' "> {{existmsg}}</span>
                  <input name="first-name" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="_commonservices.inputUntouch(blockchainForm,'firstname')" [formControl]="blockchainForm.controls['firstname']" placeholder="first name">
                  <span class="has-error" *ngIf ="blockchainForm.controls['firstname'].touched && !blockchainForm.controls['firstname'].valid"> First Name field can not be blank</span>
                </div>
                <div class="form-group">
                  <input name="last-name" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="_commonservices.inputUntouch(blockchainForm,'lastname')" [formControl]="blockchainForm.controls['lastname']" placeholder="last name">
                  <span class="has-error" *ngIf ="blockchainForm.controls['lastname'].touched && !blockchainForm.controls['lastname'].valid"> Last Name field can not be blank</span>
                </div>

                <div class="form-group">
                  <input name="your-email" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" (blur)="_commonservices.inputUntouch(blockchainForm,'email')" [formControl]="blockchainForm.controls['email']" placeholder="email">
                  <span class="has-error" *ngIf ="blockchainForm.controls['email'].touched && !blockchainForm.controls['email'].valid"> Email field can not be blank</span>
                </div>

                <div class="form-group">
                  <input name="your-phone" value="" size="40" class="form-control" aria-required="true" aria-invalid="false" type="text" [formControl]="blockchainForm.controls['phone']" (blur)="_commonservices.inputUntouch(blockchainForm,'phone')"  placeholder="phone">
                  <span class="has-error" *ngIf ="blockchainForm.controls['phone'].touched && !blockchainForm.controls['phone'].valid"> Phone field can not be blank</span>
                </div>

                <div class="form-group">
                  <input name="address" class="form-control" type="text" [formControl]="blockchainForm.controls['address']" (blur)="_commonservices.inputUntouch(blockchainForm,'address')" placeholder="Your Address">
                  <span class="has-error" *ngIf ="blockchainForm.controls['address'].touched && !blockchainForm.controls['address'].valid"> Address field can not be blank</span>
                </div>

                <div class="form-group">
                  <input name="city" class="form-control" type="text" [formControl]="blockchainForm.controls['city']" (blur)="_commonservices.inputUntouch(blockchainForm,'city')"  placeholder="city">
                  <span class="has-error" *ngIf ="blockchainForm.controls['city'].touched && !blockchainForm.controls['city'].valid"> Hometown field can not be blank</span>
                </div>


                <div class="form-group hide">
                  <input name="country" class="form-control" type="text" [formControl]="blockchainForm.controls['country']" (blur)="_commonservices.inputUntouch(blockchainForm,'country')"  placeholder="country">
                  <span class="has-error" *ngIf ="blockchainForm.controls['country'].touched && !blockchainForm.controls['country'].valid"> Country field can not be blank</span>
                </div>


                <div class="form-group">
                  <select name="state" class="form-control classic" [formControl]="blockchainForm.controls['state']" (blur)="_commonservices.inputUntouch(blockchainForm,'state')">
                    <option value="">Select State</option>
                    <option *ngFor="let item of state" value="{{item.abbreviation}}">{{item.name}}</option>
                  </select>
                  <span class="has-error" *ngIf ="blockchainForm.controls['state'].touched && !blockchainForm.controls['state'].valid"> State/Province field can not be blank</span>
                </div>

                <div class="form-group">
                  <input name="zip" class="form-control" type="text" [formControl]="blockchainForm.controls['zip']" (blur)="_commonservices.inputUntouch(blockchainForm,'zip')" placeholder="zip">
                  <span class="has-error" *ngIf ="blockchainForm.controls['zip'].touched && !blockchainForm.controls['zip'].valid"> ZipCode field can not be blank</span>
                </div>

              </div>
              <div class="btnnewwrapper">
                <input class="btnbuyticket_genuserlan" value="Submit" type="submit">
              </div>
            </div>
            <div class="landingformfooter_genuserlan"></div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="toprightgradientbg">
    <img src="../../assets/images/signupblockchainrightyellowbg.png">
  </div>

</div>


<div class="container-fluid">
  <div class="row">
      <img src="../../assets/images/signupforblockchain-img1.jpg" class="signupforblockchain1 imgresponsive">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <img src="../../assets/images/signupforblockchain-img2.jpg" class="signupforblockchain2 imgresponsive">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <img src="../../assets/images/signupforblockchain-img3.jpg" class="signupforblockchain3 imgresponsive">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <img src="../../assets/images/signupforblockchain-img4.jpg" class="signupforblockchain4 imgresponsive">
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <img src="../../assets/images/signupforblockchain-img5.jpg" class="signupforblockchain5 imgresponsive">
  </div>
</div>
<!-- <app-newsignupfooter></app-newsignupfooter> -->


