  <!-- <div class="container-fluid landing_top1_div1">
      <div class="container-fluid landing_top1_div2">
          <div class="container-fluid landing_top1_div3">
              <div class="landing_top1_wrapper">
                  <div class="landing_top1_left">
                      <div class="landing_top1_left_top">
                          <a href="javascript:void(0)"> <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_logo.png" alt="#"></a>
                          <h2>Become a <span>Nex Medical sales rep</span> today and get paid what you're worth</h2>
                          <div class="clearfix"></div>
                      </div>
                      <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/nms_landing_img1.png" alt="#" class="mobilenms_landing_img1">
  
                      <div class="landing_top1_video_block">
                          <h2>Watch This Video!</h2>
                          <img class="landing_video_arrow" src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_video_arrow.png">
                          <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/HwUAOH-4gCU?rel=0" autoplay="false" allowfullscreen="" controls="" frameborder="0" scrolling="no"></iframe></div>
  
                      </div>
                      <div class="landing_top1_left_textcon">
  
                          <div class="landing_top1_left_textcon_img">
                              <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_top_block_img1.jpg" alt="#">
                              <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_top_block_img2.jpg" alt="#">
                              <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_top_block_img3.jpg" alt="#">
  
                          </div>
  
  
  
  
                          <div class="landing_top1_left_textcon_text">
  
                              <h3>OFFER THE TOP MEDICAL DEVICE SYSTEM AND MANAGED PROGRAM IN THE COUNTRY!</h3>
  
                              <p>Get in on this powerful opportunity to make high six figures a year or more simply by scheduling your physician contacts with a Nex Medical clinical call.</p>
  
                              <strong>The NMS 100 is the only medical device data system on the market that performs a fast, non-invasive patient assessment of both the vascular and autonomic nervous system function.</strong>
  
                          </div>
  
  
  
                          <div class="clearfix"></div>
  
  
  
                      </div>
                  </div>
                  <div class="landing_top1_right">
                      <div class="landing_top1_right_wrapper">
                          <form name="landing_page" id="landing_page" action="/recruitment-funnel" method="post">
                              <input type="hidden" name="lead_id" value="0">
                              <div class="landing_top1_formbod">
                                  <h2>QUALIFYING QUESTIONNAIRE
                                      <span>See if you qualify as a Rep for Nex Medical</span>
                                  </h2>
                                  <div class="form-group_wrapper">
                                      <h6><strong>QUALIFYING QUESTIONS</strong></h6>
  
                                      <div class="form-group2">
                                          <label>First Name<span>*</span></label>
                                          <input type="text" id="first_name" name="first_name" class="form-control" value="">
                                      </div>
                                      <div class="form-group2 fg2right">
                                          <label>Last Name <span>*</span></label>
                                          <input id="last_name" name="last_name" class="form-control" value="">
                                      </div>
  
                                      <div class="form-group2">
                                          <label>Personal Email <span>*</span></label>
                                          <input type="text" id="email" name="email" class="form-control" value="">
                                      </div>
                                      <div class="form-group2 fg2right">
                                          <label>Secondary Email</label>
                                          <input type="text" id="email2" name="email2" class="form-control" value="">
                                      </div>
  
                                      <div class="form-group2">
                                          <label>Phone Number<span>*</span></label>
                                          <input type="text" id="phone_number" name="phone_number" class="form-control" value="">
                                      </div>
                                      <div class="form-group2 fg2right">
                                          <label>Street Address<span>*</span></label>
                                          <textarea id="address" name="address" class="form-control"></textarea>
                                      </div>
                                     
  
                                      <div class="form-group2">
                                          <label>City<span>*</span></label>
                                          <input type="text" id="city" name="city" class="form-control" value="">
                                      </div>
                                      <div class="form-group2 fg2right">
                                          <label>State <span>*</span></label>
                                          
  
                                          
  <span id="state_container">
  <select id="state" name="state" class="region form-control">
    <option value="">-- Select a State/Region --</option>
    <option value="AL">Alabama</option>
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="AR">Arkansas</option>
    <option value="CA">California</option>
    <option value="CO">Colorado</option>
    <option value="CT">Connecticut</option>
    <option value="DE">Delaware</option>
    <option value="FL">Florida</option>
    <option value="GA">Georgia</option>
    <option value="GU">Guam</option>
    <option value="HI">Hawaii</option>
    <option value="ID">Idaho</option>
    <option value="IL">Illinois</option>
    <option value="IN">Indiana</option>
    <option value="IA">Iowa</option>
    <option value="KS">Kansas</option>
    <option value="KY">Kentucky</option>
    <option value="LA">Louisiana</option>
    <option value="ME">Maine</option>
    <option value="MD">Maryland</option>
    <option value="MA">Massachusetts</option>
    <option value="MI">Michigan</option>
    <option value="MN">Minnesota</option>
    <option value="MS">Mississippi</option>
    <option value="MO">Missouri</option>
    <option value="MT">Montana</option>
    <option value="NE">Nebraska</option>
    <option value="NV">Nevada</option>
    <option value="NH">New Hampshire</option>
    <option value="NJ">New Jersey</option>
    <option value="NM">New Mexico</option>
    <option value="NY">New York</option>
    <option value="NC">North Carolina</option>
    <option value="ND">North Dakota</option>
    <option value="OH">Ohio</option>
    <option value="OK">Oklahoma</option>
    <option value="OR">Oregon</option>
    <option value="PA">Pennsylvania</option>
    <option value="PR">Puerto Rico</option>
    <option value="SC">South Carolina</option>
    <option value="SD">South Dakota</option>
    <option value="TN">Tennessee</option>
    <option value="TX">Texas</option>
    <option value="UT">Utah</option>
    <option value="VT">Vermont</option>
    <option value="VA">Virginia</option>
    <option value="WA">Washington</option>
    <option value="WV">West Virginia</option>
    <option value="WI">Wisconsin</option>
    <option value="WY">Wyoming</option>
  </select>
  
  </span>
                                      </div>
                                      <div class="clearfix"></div>
  
                                      <div class="form-group2">
                                          <label>Postal Code <span>*</span></label>
                                          <input id="zip_code" name="zip_code" class="form-control" value="">
                                      </div>
                                      <div class="form-group2 fg2right">
                                          <label>Best Time To Reach You <span>*</span></label>
                                          <input type="text" id="best_time" name="best_time" class="form-control" value="">
                                      </div>
                                      <div class="clearfix"></div>
  
  
                                      <div class="formnotetext">How long have you worked in the Healthcare Industry?</div>
                                      <div class="form-group1">
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="worked_inHindustry" value="1 to 2 Years">
                                              1 to 2 Years
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="worked_inHindustry" value="2 to 4 Years">
                                              2 to 4 Years
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="worked_inHindustry" value="4 to 10 Years">
                                              4 to 10 Years
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="worked_inHindustry" value="Over 10 Years">
                                              Over 10 Years
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="worked_inHindustry" value="No healthcare industry background, but i have good contacts with physicians">
                                              No healthcare industry background, but I have good contacts with physicians.
                                          </label>
                                      </div>
  
                                      <div class="formnotetext">Are you looking for a career change or to create sideline income? Please explain.</div>
                                      <div class="form-group1">
                                          <textarea class="form-control textareablock" rows="5" id="careerchange" name="craeercngtext"></textarea>
                                      </div>
  
                                      <div class="formnotetext">How many direct independent Private Practice doctors that you have an established relationships with our approved taxonomy do you have that you can visit immediately?<span>(Approved taxonomy: General Practice, Family Medicine Private Practice, Cardiology, Neurology, Internal Medicine, Endocrinology, D.O., Pain Management, Integrated Specialty Groups, CNP and NP allowed)</span></div>
                                      <div class="form-group1">
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="visitno" value="1 to 9">
                                              1 to 9
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="visitno" value="10 to 19">
                                              10 to 19
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="visitno" value="20 to 49">
                                              20 to 49
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="visitno" value="50 to 99">
                                              50 to 99
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="visitno" value="100 to 499">
                                              100 to 499
                                          </label>
  
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="visitno" value="500 or more">
                                              500 or more
                                          </label>
                                      </div>
  
  
                                      <div class="formnotetext">How many new Independent Private Practice doctors are you confident you can visit, develop and add on a weekly basis? <input type="text" class="form-control textnumberblock" id="newphysiciannumber" name="newphysiciannumber" value=""></div>
  
  
  
  
                                      <div class="formnotetext">When are you available to get started?</div>
                                      <div class="form-group1">
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="startwhen" value="Tomorrow">
                                              Tomorrow
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="startwhen" value="Next Week">
                                              Next Week
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="startwhen" value="This Week">
                                              This Week
                                          </label>
                                          <label class="col-xs-12 col-sm-6 col-md-6 col-lg-6 radio">
                                              <input type="radio" name="startwhen" value="This Month">
                                              This Month
                                          </label>
                                      </div>
  
  
                                      <div class="formnotetext">What are your greatest attributes as a marketer and a salesperson?</div>
                                      <div class="form-group1">
                                          <textarea class="form-control textareablock" rows="5" id="greatestattribute" name="greatestattribute"></textarea>
                                      </div>
  
  
                                      <div class="formnotetext">Share any additional information that you feel is important for us to know about you professionally to move forward with an interview.</div>
                                      <div class="form-group1">
                                          <textarea class="form-control textareablock" rows="5" id="shareadditionalinfo" name="shareadditionalinfo"></textarea>
                                      </div>
  
  
                                      <div class="form-group1">
                                          <p>To be considered for employment with Nex Medical Solutions, please hit <strong>"Submit"</strong> button with the  fully filled out this interview questionnaire. Once received, your Hiring Managers will be in touch to schedule a telephone interview. All information will be private and used only in relation to this application. It will not be provided to any 3rd parties.</p>
                                      </div>
                                      <div class="lanbtn_div">
                                          <input type="submit" value="SUBMIT">
                                      </div>
  
                                  </div>
                              </div>
                          </form>
                      </div>
                      <div class="lan_top_arrow_div">
  
                          <div class="lan_top_arrow_div_wrapper">
  
                              <div class="lan_top_arrow_div_con">
                                  <h2>Fill out our Qualifying Questionnaire and be contacted by one of our Hiring Managers with Next Steps</h2>
  
  
  
  
                              </div>
  
  
                              <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/lan_join_ribon11.png" alt="#" class="lan_join_ribon1">
  
                          </div>
  
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="container-fluid landing_top2_div2">
      <div class="container-fluid landing_top2_div2_body">
          <div class="landing_top2_div2_wrapper">
              <h2>Our turnkey platform provides significant solutions in population health management and preventive healthcare for practices across the country. <span>NMS’</span> comprehensive assessment technology identifies various diseases and risks, thereby significantly improving patient outcomes &amp; population health management, while dramatically increasing practice revenues.</h2>
              <h3>In roughly 7 minutes our device can detect:</h3>
              <ul>
                  <li><strong>Peripheral Artery Disease</strong> – showing a distinction between vascular vs. neurological pathology.</li>
                  <li><strong>Cardiac Autonomic Neuropathy</strong> – a high-risk cardiac event marker.</li>
                  <li><strong>Hypertension</strong> – High blood pressure or the long-term force of the blood against your artery walls.</li>
                  <li><strong>Small Fiber Neuropathy</strong> – giving you great insight into early chronic metabolic diseases.</li>
                  <li><strong>Early Detection of Insulin Resistance</strong> – the earliest marker towards type 2 diabetes.</li>
                  <li><strong>Cardiometabolic Disease</strong> – quality screening for cardiovascular risk.</li>
                  <li><strong>Coronary Artery Disease</strong> – measure the earliest indication of coronary artery disease.</li>
                  <li><strong>Inflammation &amp; Arterial Stiffness</strong> – giving you the earliest indication in the onset of disease.</li>
              </ul>
          </div>
      </div>
  </div>
  
  <div class="container-fluid landing_top2_div3">
      <div class="landing_top2_div2_wrappe3">
          <div class="landing_top2_div2_wrappe3_body">
              <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_block2_img1.png" alt="#" class="landing_block3_img1">
              <div class="landing_top2_div2_wrappe3_text">
                  <h2>Don’t hesitate! We are making a big difference in the lives of physicians and their patients across the country!</h2>
                  <h3>See if you <span>Qualify Today!</span></h3>
              </div>
              <div class="landing_top2_div2_wrappe3_text2">
                  <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_block2_img2.png" alt="#" class="landing_block3_img2">
              </div>
              <div class="lan3btn_div">
                  <a href="javascript:void(0)" (click)="gotoup()"> Fill out our Questionnaire!</a>
              </div>
          </div>
      </div>
  </div>
    
  <div class="container-fluid landing_top2_div4">
      <div class="landing_top2_div4_wrappe4">
          <h2>THIS WILL BE ONE OF THE simplest WAYS TO MAKE<br>
              MONEY YOU HAVE SEEN YET!  </h2>
      </div>
      <div class="landing_top2_div5">
          <div class="landing_top2_div5_body">
              <div class="landing_top2_div5_wrappe5">
                  <h3>Keep your day job while building up residual income that will put you into the driver’s seat as a Sales Rep. We know this works!</h3>
                  <ul>
                      <li>We have an appointment setting platform that allows you to easily access our calendar system and set appointments for your physician contacts</li>
                      <li>Your obligations consist of training in our training center, gaining access to the physician CRM and then simply giving a 5-minute appointment setting presentation. That’s it!
                      </li>
                      <li>You are required to be on the Clinical Consultant's web presentation. From there the Clinical Consultant closes the physician.</li>
                      <li>Our Clinical Consultants (the closers) are highly trained and have closing ratios that will excite you! Just get them to us we will get the deal closed!</li>
                  </ul>
                  <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/lan_join_ribon11.png" alt="#" class="lan_join_ribon5">
              </div>
          </div>
          <div class="landing_top2_div6_wrappe6">
              <table>
                  <tbody><tr>
                      <td><img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_block6_bg1.jpg" alt="#"></td>
                      <td>
                          <h4>Why Get Started Today?</h4>
  
                          <ul>
                              <li>We are only looking for a limited number of reps in your area, so act now.</li>
                              <li>Most reps train and are ready to start within 48 hours.</li>
                              <li>There is less than 1% market penetration. You are getting in at the beginning.</li>
  
                          </ul>
  
                      </td>
  
                  </tr>
              </tbody></table>
              <h6>Be part of a team of professionals and finally get paid what you’re really worth</h6>
          </div>
      </div>
  </div>
    
  <div class="container-fluid landing_top2_div7">
      <div class="container-fluid landing_top2_div7_body">
          <div class="landing_top2_div7_wrapper">
              <h3>Our Benefits to Nex Medical Reps are both flexible and long term residual commissions!</h3>
              <ul class="list-inline">
                  <li>Earn 5 years on every system placed.  No quotas to maintain.</li>
                  <li>No caps on earnings.</li>
                  <li>No material competition.</li>
                  <li>Untapped and unsaturated massive market.</li>
                  <li>Full-time, part-time or sideline (add an additional line).</li>
                  <li>Training, marketing materials and ongoing support provided.</li>
                  <li>Simple appointment setting platform.  Executive Team to present and close your deals.</li>
                  <li>Represent the future of healthcare.  Forefront of industry trends.</li>
                 
              </ul>
          </div>
      </div>
  </div>
  
  <div class="container-fluid landing_top2_div3">
      <div class="landing_top2_div2_wrappe3">
  
          <div class="landing_top2_div2_wrappe3_body">
  
              <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_block2_img3.png" alt="#" class="landing_block3_img1">
  
              <div class="landing_top2_div2_wrappe3_text">
  
                  <h2>Don’t hesitate! We are making a big difference in the lives of physicians and their patients across the country! </h2>
  
                  <h3>See if you <span>Qualify Today!</span></h3>
  
              </div>
  
  
              <div class="landing_top2_div2_wrappe3_text2">
                  <img src="https://nexmedsolutions.net/system/themes/nexmedicalbackend/images/landing_block2_img4.png" alt="#" class="landing_block3_img2">
  
  
  
              </div>
              <div class="lan3btn_div">
                  <a href="javascript:void(0)">Fill out our Questionnaire!</a>
  
              </div>
  
  
          </div>
  
  
      </div>
  </div>

  <div class="landing_footer">
      <span>  <a href="javascript:void(0)> Privacy Policy </a> |<a href="javascript:void(0)" (click)="callterms()">  Terms &amp; Conditions</a> </span>
      <p>Copyright © 2017 NEX Medical Solutions. All Rights Reserved.</p>
  </div>
   -->