.contactusbannerbg {box-shadow: none!important;border: none!important;border-radius: 0px!important;background: url(../../assets/images/contactus_banner.jpg) #faf7f4 no-repeat right bottom!important;position: relative!important;min-height: 511px;display: -webkit-box;display: flex;-webkit-box-align: center;align-items: center;background-size: cover !important;}
.inner_banner.contactusbannerbg.generalcls .mat-card-title{color:#31282f; font-size: 100px !important;}



@media screen and (max-width: 1440px){
    .inner_banner.contactusbannerbg.generalcls[_ngcontent-serverApp-c1] .mat-card-title[_ngcontent-serverApp-c1] {
        font-size: 80px !important;
    }
}