<app-header></app-header>

<mat-card class="inner_banner contactusbannerbg generalcls">
  <span class="maincontentwrapper">
    <mat-card-content class="ptb-67 inner_banner_content">
      <mat-card-title>contact us</mat-card-title>
    </mat-card-content>
  </span>
</mat-card>

<mat-card class=" contact_body">
  <mat-card-content class="contact_wrapper">
    <form [formGroup]="myform" (submit)="doSubmit()">
      <mat-card-subtitle>
        <p>Name<span>*</span></p>
        <mat-form-field>
          <input matInput placeholder="First Name" [formControl]="myform.controls['firstname']"
            (blur)="inputUntouch(myform,'firstname')">
          <mat-error *ngIf="!myform.controls['firstname'].valid && myform.controls['firstname'].touched"  class="errortext">First Name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" [formControl]="myform.controls['lastname']"
            (blur)="inputUntouch(myform,'lastname')">
          <mat-error *ngIf="!myform.controls['lastname'].valid && myform.controls['lastname'].touched"
            class="errortext">Last Name is required</mat-error>
        </mat-form-field>
      </mat-card-subtitle>
      <mat-card-subtitle>
        <p>Address<span>*</span></p>
        <mat-form-field>
          <textarea matInput placeholder="Line 1" [formControl]="myform.controls['address']"
            (blur)="inputUntouch(myform,'address')"></textarea>
          <mat-error *ngIf="!myform.controls['address'].valid && myform.controls['address'].touched" class="errortext">
            Address is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="City" [formControl]="myform.controls['city']"
            (blur)="inputUntouch(myform,'city')">
          <mat-error *ngIf="!myform.controls['city'].valid && myform.controls['city'].touched" class="errortext">City is
            required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select  placeholder="Select State"  [formControl]="myform.controls['state']" >
              <mat-option *ngFor="let item of stateslist" value="{{item.abbreviation}}">{{item.name}}</mat-option>
            </mat-select>
            <mat-error  *ngIf="!myform.controls['state'].valid && myform.controls['state'].touched">State is required</mat-error>
          </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="Zip Code" [formControl]="myform.controls['zipcode']"
            (blur)="inputUntouch(myform,'zipcode')">
          <mat-error *ngIf="!myform.controls['zipcode'].valid && myform.controls['zipcode'].touched" class="errortext">
            Zip Code is required</mat-error>
        </mat-form-field>
        <mat-form-field>

          <input matInput placeholder="Country" [formControl]="myform.controls['country']"
            (blur)="inputUntouch(myform,'country')">
          <mat-error *ngIf="!myform.controls['country'].valid && myform.controls['country'].touched" class="errortext">
            Country is required</mat-error>
        </mat-form-field>

      </mat-card-subtitle>

      <mat-card-subtitle>
        <p>Phone Number<span>*</span></p>
          <mat-form-field>
            <input type="number" matInput [formControl]="myform.controls['telephone']" (blur)="inputUntouch(myform,'telephone')"
              placeholder="Phone Number">
            <mat-error *ngIf="!myform.controls['telephone'].valid && myform.controls['telephone'].touched"
              class="errortext">Phone Number is required</mat-error>
          </mat-form-field>
      </mat-card-subtitle>

      <mat-card-subtitle>
        <p>Email<span>*</span></p>
        <mat-form-field>
          <input matInput [formControl]="myform.controls['email']" (blur)="inputUntouch(myform,'email')"
            placeholder="Email">
          <mat-error *ngIf="!myform.controls['email'].valid && myform.controls['email'].touched" class="errortext">Email
            Number is required</mat-error>
        </mat-form-field>
      </mat-card-subtitle>


      <mat-card-subtitle class="commentsubtitle">
        <p>Comment<span>*</span></p>
        <mat-form-field class="area">
          <textarea row="5" matInput [formControl]="myform.controls['message']" (blur)="inputUntouch(myform,'message')"
            placeholder="Message"></textarea>
          <mat-error *ngIf="!myform.controls['message'].valid && myform.controls['message'].touched" class="errortext">
            Message is required</mat-error>
        </mat-form-field>
      </mat-card-subtitle>


      <button mat-stroked-button class="contactsubbtn">Submit</button>
    </form>
    <img src="../../assets/images/contactlowerbg1.png" class="lowerBg1">
    <img src="../../assets/images/contactlowerbg2.png" class="lowerBg2">
  </mat-card-content>
</mat-card>
 
<app-readmore></app-readmore>
<app-footer></app-footer>