<app-header></app-header>


<mat-card class="s_ourteamblk-1">
    <mat-card-content class="s_blk-1_inner_wrapper">
        <mat-card-title class="s_blk-1_heading">Our team</mat-card-title>
        <mat-card-subtitle class="s_blk-1_para">has the experience and background you really need to have in a solid
            technology company.
        </mat-card-subtitle>
    </mat-card-content>
</mat-card>

<mat-card class="s_ourteamblk-2">
    <mat-card-content class="blok2_inner_wrapper">
        <mat-card-content class="inner_left_container">
            <mat-card-content class="img_wrapper">
                <img src="assets/images/beto.png">
            </mat-card-content>
            <mat-card-content class="caption">
                <mat-card-header class="caption_title">BETO PAREDES</mat-card-header>
                <mat-card-subtitle class="caption_para">Managing Partner / Biz Dev</mat-card-subtitle>
            </mat-card-content>

        </mat-card-content>
        <mat-card-content class="inner_right_container">
            <mat-card-header class="blk2-heading">about beto paredes</mat-card-header>
            <mat-card-subtitle class="blk2-para">
                Beto’s background is extremely diverse, ranging <span>from core software engineering, international
                    sales, and sales organization management, business management to award-winning branding and web
                    development.</span>
                These innovations include the very first affiliate marketing backoffice payment system, the very first
                list management lead marketing system in the space, and Product2Web, one of the earliest advertiser
                platforms with <span>over 100 advertisers doing 75,000+ transactions</span> a month. He also built the
                prototype ad mobile platform with a partner who went on the become one of the top executives at
                <span>Ad-Mob, Google’s multi-billion-dollar mobile advertising network.</span><br><br>

                <span>Working for 16+ years in the technology development</span> and entrepreneur space, many of his
                projects have seen revenues into the millions. He continues to launch successful companies and platforms
                to this day. An example of one of his long standing companies is <span>Auto Search Technologies,</span>
                Inc, a software business in the Automotive space currently with over 2,200 dealer clients. <br><br>

                Included in his list of client projects are the highly-successful <span>5Linx (Inc 500) and Jeunesse
                    Skin Care.</span>
                Beto’s companies have developed successful projects for <span>Affiliate.com (Inc 500), Hydra Networks
                    (Inc 500), Media Trust (Inc 500), LinkTrust (Inc 5000), Bluecoast Savings (Inc. 5000)</span>
                and many more. With his team, Beto has launched <span>over 2,000 client projects</span> since 2002.

            </mat-card-subtitle>
        </mat-card-content>


        <!--blok2_sub start here-->
        <mat-card class="blok2_sub">
            <mat-card-header class="blok2_sub_title">His accomplishments include major projects in:</mat-card-header>
            <span>
            <mat-list class="items">
                <mat-list-item> Complex large system web development</mat-list-item>
                <mat-list-item> Automotive sales technology</mat-list-item>
                <mat-list-item> Direct response affiliate systems</mat-list-item>
            </mat-list>
            <mat-list class="items">
                <mat-list-item> Ad marketing mobile platforms</mat-list-item>
                <mat-list-item> Massive online community development</mat-list-item>
                <mat-list-item> National sales organization development</mat-list-item>
            </mat-list>
            <mat-list class="items">
                <mat-list-item> Medial industry sales</mat-list-item>
                <mat-list-item> Online marketing and network marketing</mat-list-item>
                <mat-list-item> Plus hundreds more (please see <a href="www.betoparedes.com"
                        target="_blank">www.BetoParedes.com</a>
                    for details)
                </mat-list-item>
            </mat-list>
            </span>
        </mat-card>
        <!--blok2_sub end-->


        <!--blok2_sub 2-->
        <mat-card class="blok2_sub2">
            <mat-card-subtitle class="blok2_sub2_para">
                <span>Through the Beto Paredes Family of Companies, there are over 50 full time employed
                    professionals</span>
                working world wide in the various brands. Beto also operates outsourced sales training for a national
                medical device company overseeing 800 sales reps nationwide. Their health care model is saving private
                practice with preventative-based early detection medical equipment. This is just one of the major
                projects Beto Paredes is involved in concerning national sales and personal development.<br><br>

                <span>Beto has spent a large amount of his professional career traveling as a speaker to many state,
                    national conventions and large audience forums.</span>
                He has appeared on stage following major executives from Google, HP and other powerhouse industry
                leaders. He has participated in several convention panels in the automotive, IT, affiliate marketing,
                and software development industries. Included in this list are 2 panels at Affiliate Convention Denver
                and OfferVault's leadership summit at Ad-Tech.<br><br>

                <span class="para_font">For a full view into the Entrepreneurship and Business background of Beto
                    Paredes
                    please visit his website <a href="www.betoparedes.com"
                        target="_blank">www.BetoParedes.com.</a></span>

            </mat-card-subtitle>
        </mat-card>
        <img class="hidden_image" src="../../assets/images/team_Hidden_image.png">
        <!--blok2_sub end-->
    </mat-card-content>
</mat-card>

<!--Team Section-->

<mat-card class="ourTeamblok">
    <mat-card-title class="header">meet the team</mat-card-title>
    <mat-card-content class="team_inner_wrapper"> 
        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/clark.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>Clark maden</mat-card-title>
                <mat-card-subtitle>managing partner / chief engineer</mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>
        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/mark.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>Mark Wiseman</mat-card-title>
                <mat-card-subtitle>Managing Partner </mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>
        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/lanah.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>LANNAH PAREDES</mat-card-title>
                <mat-card-subtitle>Creative Director</mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>
        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/vanessa.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>Vanessa Wislidoski</mat-card-title>
                <mat-card-subtitle>Communications</mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>
        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/natasa.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>NATYSHA HERNANDEZ</mat-card-title>
                <mat-card-subtitle>Onboarding</mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>
        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/debasish.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>DEBASIS KAR</mat-card-title>
                <mat-card-subtitle> Lead Software Developer</mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>

        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/raju.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>RAJU SARKAR</mat-card-title>
                <mat-card-subtitle>Graphic And Web Designer </mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>
        
        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/somnath.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>SOMNATH SARKAR</mat-card-title>
                <mat-card-subtitle>Graphic And Web Designer </mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>
        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/adam.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>ADAM FORSGREN</mat-card-title>
                <mat-card-subtitle>Content Director</mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>

        <mat-card-content class="inner_wrap">
            <mat-card-content class="img_wrap">
                <img src="assets/images/tapabrata.jpg" alt="#">
            </mat-card-content>
            <mat-card-content class="footer_caption">
                <mat-card-title>TAPABRATA BISWAS</mat-card-title>
                <mat-card-subtitle>Project Manager</mat-card-subtitle>
            </mat-card-content>
        </mat-card-content>
    <img src="../../assets/images/meet-the-teamlogo.png" class="top_left">
    <img src="../../assets/images/meet-the-teamlogo.png" class="bottom_right">
    </mat-card-content>
</mat-card>

<app-footer></app-footer>