<app-header></app-header>

<mat-card class="home_banner">

  <mat-card class="vpblock1bg">
    <mat-card-content>

      <p class="pic-wrapper">
        <figure style="background-image: url(../../assets/images/home_slide.jpg)" class="pic-1 figure1"></figure>
        <figure style="background-image: url(../../assets/images/home_slide2.jpg)" class="pic-2 figure2"></figure>
        <figure style="background-image: url(../../assets/images/home_slide.jpg)" class="pic-3 figure1"></figure>
        <figure style="background-image: url(../../assets/images/home_slide2.jpg)" class="pic-4 figure2"></figure>

      </p>

      <span class="vpblock1wrapper animation-box">
          <span class="vpblock1wrappercontent carousalcontent">
              <h2>The most powerful</h2>
            <h3>CRM,</h3>
            <h4>Marketing System and communication Suite.</h4>
              <p>This is a complete 360-degree sales cycle management <br/>system. A breakthrough for<br/>
your sales organization and a total<br/>
high precision solution.</p>


            </span>
      </span>

    </mat-card-content>



  </mat-card>

</mat-card>

<mat-card class="home_block2">

  <mat-card-content>

    <h2>YOUR SALE TEAM WANTS TO SELL </h2>

    <p>Empowering your salespeople for success takes more than just great product and training. Closing the gap on the time it takes to win prospects, present and close is a science. Sales Vert was developed by professionals that have been working in sales and sales management for 18 years.
      With the exact set of features our sales and marketing platform is built to
      supercharge your sales process and set
      your organization on fire.</p>

    <a href="javascript:void(0)" class="home_block2link">LEARN MORE</a>

  </mat-card-content>


</mat-card>

<mat-card class="home_block3">

  <mat-card-content>
    <img src="../../assets/images/beto_img.png" class="beto_img1">


    <mat-card-subtitle>
    <h2>SalesVert will set your sales organization on fire</h2>
    <p><strong><img src="../../assets/images/text_cort1.png"></strong>When Clark Madsen came to me and said he wanted to build the most powerful high functioning sales and conversion system in the industry, I was highly interested. After launching programs and managing thousands of sales reps in every industry from national medical device sales to rapidly growing Network Marketing companies I knew exactly what I wanted. After hours of planning, discussions and interviewing some of the top sales leaders in the industry we went to work. SalesVert is like nothing you have ever seen before. Finally, there is a system that will set  your salesorganization on fire.<strong><img src="../../assets/images/text_cort2.png"></strong>
    </p>

    <h3>Beto Paredes – Sales Vert Managing Partner <label>Entrepreneur <a href="http://www.betoparedes.com/" target="_blank"> www.BetoParedes.com</a></label></h3>

    <a href="javascript:void(0)" class="home_block3link">LEARN MORE</a>
    </mat-card-subtitle>
  </mat-card-content>

</mat-card>


<mat-card class="home_block4">

  <mat-card-content>

    <h2>The Feature Set of SalesVert are built for marketplace dominance in a
      <br/>large sales organization and streamlined for speed and accuracy.</h2>


    <ul>
      <li>
        <label><img src="../../assets/images/home_block4_img1.png"  ></label>
           <strong>Capture and Convert</strong>
       <span> Powerful Funnel Systems</span>
        <span> Social Media Broadcasting</span>

      </li>

      <li>
        <label><img src="../../assets/images/home_block4_img2.png"  ></label>
        <strong>Nurture and Engauge</strong>
        <span>Social Messaging Chat Integration</span>
        <span>Text Message Integration</span>
        <span>eMail Marketing and Follow up</span>
        <span>Multi-Channel Text and eMail</span>

      </li>

      <li>
        <label><img src="../../assets/images/home_block4_img3.png"  ></label>
        <strong>Present like a Champion</strong>
        <span> Digital Presentation Media Deck</span>
        <span>Instant Screen Control</span>

      </li>

      <li>
        <label><img src="../../assets/images/home_block4_img4.png"  ></label>
        <strong>Sales Cycle Control CRM</strong>
        <span> Streamlined Precision based CRM</span>
        <span>PBX Telecommunications</span>

      </li>

      <li>
        <label><img src="../../assets/images/home_block4_img5.png"  ></label>
        <strong>Manage your Organization</strong>
        <span> Superior reporting</span>
        <span>Sales team and member drill downs</span>
        <span>Opportunity analysis</span>
        <span>System usage details</span>

      </li>

    </ul>


    <a href="javascript:void(0)" class="home_block4link">LEARN MORE</a>

  </mat-card-content>

</mat-card>


<mat-card class="home_block_new">




    <mat-card-content class="home_block_new_div2">

      <mat-card-content class="home_block_new_wrapper">

        <mat-card-content class="home_block_new_textcontain">

          <h2>Our funnel system developers and designers are some of the best in the industry.  Click
            here now to go see a list of our most
            successful models</h2>

          <a href="javascript:void(0)" class="home_blocknewlink">LEARN MORE</a>

        </mat-card-content>

    </mat-card-content>

  </mat-card-content>

</mat-card>


<mat-card class="home_block5">

  <mat-card-content>

    <h2>The smarter, better, and faster way to close deals.<br/>
      Talk to one of our professional<br/>
      sales manager now. </h2>

    <h4>
      <label>
      Sales Department<br/>
      ​208-502-3040 ext 702<br/>
      sales@salesvert.com
      </label>

    </h4>
  </mat-card-content>

  <mat-card class="home_block5_form">
    <mat-card-subtitle>

    <form>

      <mat-form-field>
        <input matInput placeholder="Full Name"   >
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="Email Address"   >
      </mat-form-field>

      <mat-form-field >
        <input matInput placeholder="Phone Number" >
      </mat-form-field>

      <mat-form-field >
        <textarea matInput placeholder="Message"  ></textarea>
      </mat-form-field>

      <button mat-button class="homesubbtn">Submit</button>

      <div class="clear"></div>

    </form>
    </mat-card-subtitle>
  </mat-card>

</mat-card>



<app-footer></app-footer>

