<app-header></app-header>

<mat-card class="home_banner">

  <mat-card class="vpblock1bg">
    <mat-card-content>

      <p class="pic-wrapper">
        <figure style="background-image: url(../../assets/images/home_slide.jpg)" class="pic-1 figure1"></figure>
        <figure style="background-image: url(../../assets/images/home_slide2.jpg)" class="pic-2 figure2"></figure>
        <figure style="background-image: url(../../assets/images/home_slide.jpg)" class="pic-3 figure1"></figure>
        <figure style="background-image: url(../../assets/images/home_slide2.jpg)" class="pic-4 figure2"></figure>

      </p>

      <span class="vpblock1wrapper animation-box">
          <span class="vpblock1wrappercontent carousalcontent">
              <h2>The most powerful</h2>
            <h3>CRM,</h3>
            <h4>Marketing System and communication Suite.</h4>
            <p>This is a complete 360-degree sales cycle management system. A breakthrough for your sales organization and a total high precision solution.</p>


            </span>
      </span>

    </mat-card-content>



  </mat-card>

</mat-card>

<mat-card class="home_block2">

  <mat-card-content>

    <h2>YOUR SALE TEAM WANTS TO SELL </h2>

    <p>Empowering your salespeople for success takes more than just great product and training. Closing the gap on the time it takes to win prospects, present and close is a science. Sales Vert was developed by professionals that have been working in sales and sales management for 18 years. With the exact set of features they’ve developed, our sales and marketing platform is built to supercharge your sales process and set your organization on fire.</p>

    <a [routerLink]="['/contactus']" class="home_block2link">LEARN MORE</a>

  </mat-card-content>


</mat-card>
 
<mat-card class="home_block3">

  <mat-card-content>
    <img src="../../assets/images/beto_img.png" class="beto_img1">


    <mat-card-subtitle>
    <h2>SalesVert will set your sales organization on fire</h2>
    <p><strong><img src="../../assets/images/text_cort1.png"></strong>When Clark Madsen came to me and said he wanted to build the most powerful, high-functioning sales and conversion system in the industry, I was highly interested. After launching programs and managing thousands of sales reps in every industry from national medical device sales to rapidly-growing Network Marketing companies, I knew exactly what I wanted.After hours of planning, discussions and interviewing some of the top sales leadership in the industry, we went to work. SalesVert is like nothing you have ever seen before. 
      <strong><img src="../../assets/images/text_cort2.png"></strong>
    </p>

    <h3>Beto Paredes – Sales Vert Managing Partner <label>Entrepreneur <a href="http://www.betoparedes.com/" target="_blank"> www.BetoParedes.com</a></label></h3>

    <a [routerLink]="['/ourteam']" class="home_block3link">LEARN MORE</a>
    </mat-card-subtitle>
  </mat-card-content>

</mat-card>


<mat-card class="home_block4">

  <mat-card-content>

    <h2>The Feature Set of SalesVert are built for marketplace dominance in a
      <br/>large sales organization and streamlined for speed and accuracy.</h2>


      <ul>
          <li>
            <label><img src="../../assets/images/home_block4_imgnew1.png"  ></label>
            <strong>Domain Creations</strong>
            <span>Custom URLs</span>
            <span>SSL Certificates</span>
            <span>Display Layouts and Themes</span>    
          </li>
    
          <li>
            <label><img src="../../assets/images/home_block4_img1.png"  ></label>
            <strong>Capture and Convert</strong>
            <!-- <span> Powerful Funnel Systems</span>
            <span> Social Media Broadcasting</span> -->
            <span>Powerful Funnel Systems</span>
            <span>Social Media Broadcasting</span>
            <span>Dynamic Customizable forms</span>
          </li>
    
          <li>
            <label><img src="../../assets/images/home_block4_img2.png"  ></label>
            <strong>Nurture and Engage</strong>
            <span>Social Messaging Chat Integration</span>
            <span>Text Message Integration</span>
            <span>eMail Marketing and Follow up</span>
            <span>Multi-Channel Text and eMail</span>
            <span>Contest System</span>
    
          </li>
    
          <li>
            <label><img src="../../assets/images/home_block4_img3.png"  ></label>
            <strong>Present like a Champion</strong>
            <span>Digital Presentation Media Deck</span>
            <span>Instant Screen Control</span>
          </li>
    
          <li>
            <label><img src="../../assets/images/home_block4_img4.png"  ></label>
            <strong>Sales Cycle Control CRM</strong>
            <span>Streamlined Precision based CRM</span>
            <span>PBX Telecommunications</span>
            <span>Contracting and Digital Signature Management</span>
          </li>
    
          <li>
            <label><img src="../../assets/images/home_block4_img5.png"  ></label>
            <strong>Manage your Organization</strong>
            <span>Superior reporting</span>
            <span>Sales team and member drill-downs</span>
            <span>Opportunity analysis</span>
            <span>System usage details</span>
            <span>Training Module</span>
            <span>File Manager</span>
          </li>
    
        </ul>
    
    
        <a [routerLink]="['/platform-features']" class="home_block4link">LEARN MORE</a>
  </mat-card-content>
</mat-card>

 <app-readmore></app-readmore>
<app-footer></app-footer>

