<div class="banner_mainwrapper">
  <div class="bannercontainer">
    <div class="formmainwrapper">
      <div class="form_header">
        <h2>Join Now</h2>
        <p>& get in</p>
      </div>
      <div class="form_body">
        <form>
          <div class="form-group"><input type="text" class="form-control" placeholder="Sam Fisher"> </div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Last Name"> </div>
          <div class="form-group"><input type="email" class="form-control" placeholder="Email Address"> </div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Login Name"> </div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Password"> </div>
          <div class="form-group"><input type="text" class="form-control" placeholder="Confirm Password"> </div>
          <div class="form-group form-groupcheckbox">
            <input type="checkbox" id="html">
            <label for="html">Accept Terms And Conditions</label>
          </div>
          <div class="form-group"><button class="blackbtn"><span>let,s get you started</span></button></div>
        </form>
      </div>
    </div>
    </div>
  <div class="imgwrapper1">
    <img src="../../assets/images/cobrazol-landingimg1.png">
  </div>
  <div class="imgwrapper2">
    <img src="">
  </div>
</div>
