<div class="container-fluid topleftbg">

  <div class="container-fluid toprightbg">

      <div class="container AFF_topblock">


          <div class="row">
               <div class="logo_div"><img src="../../assets/images/landing1_logo.png"></div>
              <div class="toptext1"> The vital essence of<br/>
                  an inspired life</div>

              <div class="clearfix"></div>
          </div>

          <div class="top_textpart1">

              <h2>LOSE WEIGHT <span>&</span> KEEP IT OFF FOR LIFE!  </h2>

                  <img src="../../assets/images/landing1_top_text1.png">
            </div>


          <div class="row">
              <div class="top_leftpart">
                  <img src="../../assets/images/landing1_top_text4.png" class="righttext1">

                  <img src="../../assets/images/topblockimg12.png" class="topblockimg12">

                  <div class="topblockimg12_text">
                      <ul>
                          <li>Increase Energy</li>
                          <li>Balances Blood Sugar</li>
                          <li>Appetite Suppressant</li>
                          <li>Antioxidant</li>
                          <li>Boots Immunity</li>
                          <li>Balance Hormones</li>
                      </ul>
                  </div>
               

                  <img src="../../assets/images/affiliate_top_img1.png" class="topgirlimg">
                  <img src="../../assets/images/topproductbox.png" class="topproductbox">

                  <img src="../../assets/images/topimg3.png" class="topimg3">

                  <img src="../../assets/images/topimg4.png" class="topimg4">


                  <div class="topleft_arrow_text">
                      <img src="../../assets/images/topimg2.png" class="topimg2">
                      <div class="arrowmaintext">
                      <h2> Get The Wellness Package NOW!</h2>
                      <img src="../../assets/images/landing1_top_text5.png" class="arrowtext5">

                      <h4>100% all-natural ingredients</h4>
                      </div>

                      <div class="clearfix"></div>

                  </div>
                  <img src="../../assets/images/topimg1.png" class="topimg1">
                  <img src="../../assets/images/topimg5.png" class="topimg5">
              </div>

              <div class="top_rightpart">
                  <h3>We Cracked the Code </h3>
                  <h3> to Permanent Weight Loss!</h3>

                  <img src="../../assets/images/landing1_top_text2.png" class="lefttext1">
                  <img src="../../assets/images/landing1_top_text3.png" class="lefttext2">

                  <div class="top_formwrapper">
                      <img src="../../assets/images/landing1_top_formarrow.png" class="formarrow">
                  <h2>Get Started<br/>Now!</h2>

                      <h4>Please fill out the form below for<br/>more information</h4>

                      <form name="landing_page" id="landing_page" action="/" method="post">

                      <input type="hidden" name="country" value="US">

                      <input type="text" name="first_name" placeholder="First Name" class="form-control">
                      <input type="text" name="last_name" placeholder="Last Name" class="form-control">
                          <input type="email" name="email" placeholder="Email Address" class="form-control">
                          <input type="text" name="phone" placeholder="Phone Number" class="form-control">
                      <input type="text" name="zip" placeholder="Zip Code" class="form-control">

                      <input type="submit" class="topsubbtn" value="Rush my order">

                      </form>

                  </div>



              </div>


              <div class="clearfix"></div>
              </div>





      </div>



  </div>


</div>

<div class="container-fluid rl_block2_top">
      <div class="container rl_block2_top_wrapper">
        
        <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rl_wrapper_top_right">
                  <img src="../../assets/images/watchvideo.png" class="r1watchvideoimg">
                  <div class="video-container-wrapper">
                    <iframe src="https://player.vimeo.com/video/235251644?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 rl_wrapper_top_left">
                  <div class="row">
                      <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 rl_wrapper_top_right_inner">
                          <p>I am eager to recommend the Balance Program to my patients that are looking for the perfect 24-hour supplement to improve their overall health. Balance combines Recover and Awaken to work in harmony.</p>
                          <h4>~Dr. Mike Marino</h4>
                      </div>
                      <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 rl_wrapper_top_left_inner">
                          <img src="../../assets/images/rlwrappertopleftinner_img.png" class="rlwrappertopleftinnerimg">
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

<div class="container-fluid aff_block2">

<div class="container affblock2wrapper">
    <div class="affblock2_heading">
     <h2>THE <span>24-HOUR</span> CORE DYNAMICS SYSTEM</h2>

        <h3> An amazing introductory price! Experience what Balance can do for you.</h3>
    </div>
        <img src="../../assets/images/block_2img3.png" class="block_2img3">



        <div class="block2_textcon">
           <h2>Upgrade to a Healthier Lifestyle!</h2>
            <img src="../../assets/images/block2_text1.png" class="block2_text1">

            <h3>Make permanent change with Balance, the essential program to Vivacity’s 24-Hour Core Dynamics System. Balance provides the cutting-edge, all-natural supplements your body craves, day and night. But great health takes more than great supplementation. Our amazing VioShift System is now included for FREE with all purchases of Balance! Take the first step to total wellness with Balance by adding <br/>the VioShift System and fitness to your wellness routine. Feel good and fall in love with your body with Vivacity!</h3>

            <h4>Progressive systems easily increase your levels of nutrition and mental clarity!<br/><br/>

                Lose weight. Maintain great health. Balance your body.</h4>

            <div class="block2devider"></div>


            <h5>How Do You REALLY Lose Weight?</h5>

            <img src="../../assets/images/block2_text2.png" class="block2_text2">

            <h6>No more yo-yo’s! Permanent weight loss starts with our groundbreaking supplements. Balance brings attention to the internal clock and rhythm of your body's natural, 24-hour cycle. For results that last, get educated on the lifestyle and eating changes that need to happen with Vivacity's VioShift System.</h6>


        </div>


        <div class="block2_right_con">


            <img src="../../assets/images/block_2img2.png" class="block_2img2">
            <img src="../../assets/images/block_2img4.png" class="block_2img4">
            <img src="../../assets/images/block2_arrow1.png" class="block2_arrow1">

            <a href="javascript:void(0)" class="block2btn getmybottle">rush my order</a>


        </div>
       <div class="clearfix"></div>




    </div>


</div>


<div class="container-fluid aff_block3">

  <div class="container affblock3wrapper">

      <div class="affblock3_heading">
          <h2>The <span>Awaken</span> complete daytime metabolic formula</h2>

          <h3>Increased energy and enhanced mental clarity for a new you.</h3>


      </div>


      <img src="../../assets/images/block3_img1.png" class="block3_img1">
      <img src="../../assets/images/block3_img3.png" class="block3_img3">

      <div class="block3_textwrapper">


          <h2>True weight loss stems from consistent and small changes made to your supplemental, nutritional, and overall wellness lifestyle. Give your body the right amount of <br/>each ingredient needed to maintain a steady burn all day. As part of our <br/><span>24-Hour Core Dynamics</span> System, <strong class="textbold">Awaken</strong> keeps your body and mind <br/>active and alert while providing the daytime supplementation needed <br/>to experience <strong class="textbold">the Shift</strong>.</h2>

          <h3>Green Coffee Bean, Rhodiola Rosea, Hoodia,Garcinia Cambogia,<br/>African Mango Seed Extract</h3>

          <img src="../../assets/images/block3_text1.png" class="block3_text1">

      </div>

      <img src="../../assets/images/block3_img2.png" class="block3_img2">

      <a href="javascript:void(0)" class="block3btn">GET THE 24-HOUR CORE DYNAMICS<br/>
          SYSTEM RIGHT AWAY!</a>

      </div>
</div>

<div class="container-fluid aff_block4">

  <div class="container affblock4wrapper">


      <div class="affblock4_heading">AWAKEN: 100% all-natural ingredients</div>


      <div class="affblock4_con_wrapper">

          <div class="blok4_text1">
              <h2>Cacao</h2>

              <img src="../../assets/images/block4_text1.png" class="block4_text1">
              <img src="../../assets/images/block4_img1.png" class="block4_img1">
              <img src="../../assets/images/block4_img1_sml.png" class="block4_img1_sml">
              <h3>Converts fatty acids into increased energy. Stimulates serotonin, acts as an appetite suppressant, and enhances the benefits from cannabinoid spectrum whole foods supplements.</h3>

          </div>

          <div class="blok4_text2">
              <h2>Panax Gingseng</h2>
              <img src="../../assets/images/block4_img2left.png" class="block4_img2left">
              <img src="../../assets/images/block4_text2.png" class="block4_text2">
              <img src="../../assets/images/block4_img2.png" class="block4_img2">
              <h3>Increases energy and<br>stamina and gives the<br>immune system a boost.<br>Improves<br>
                  circulation.</h3>

          </div>

          <div class="clearfix"></div>

          <div class="blok4_text4">
              <h2>Cordyceps</h2>

              <img src="../../assets/images/block4_text4.png" class="block4_text4">
              <img src="../../assets/images/block4_img4.png" class="block4_img4">
              <h3>Fights free radicals, infections, <br>and inflammation. Reduces<br>
                  symptoms of respiratory<br>
                  disorders, coughs, and<br>
                  colds, and has<br>
                  anti-aging<br>
                  benefits.</h3>

          </div>
          <div class="blok4_text5">
              <h2>Capsaican</h2>

              <img src="../../assets/images/block4_text5.png" class="block4_text5">
              <img src="../../assets/images/block4_img5.png" class="block4_img5">


              <h3>Stimulates endothelial<br/>
                  nitric oxide synthase (eNOS)<br/>
                  activity, thereby, creating<br/>
                  enhanced energy.  </h3>

          </div>
          <div class="blok4_text6">
              <h2>DMG</h2>

              <img src="../../assets/images/block4_text6.png" class="block4_text6">
              <img src="../../assets/images/block4_img6.png" class="block4_img6">

              <h3>Enhances aerobic efficiency, physical stamina, mental clarity, and alertness. Increases vigor, energy, and cellular
                  vitality.</h3>

          </div>

          <div class="clearfix"></div>

          <a href="javascript:void(0)" class="block4btn getmybottle">rush my order</a>

      </div>



      </div>

  </div>



<div class="container-fluid aff_block5">

  <div class="container affblock5wrapper">

      <div class="affblock5_heading">
          <h2>WAKE UP COMPLETELY <span>REFRESHED WITH RECOVER</span></h2>

          <h3> Assist weight loss with better sleep and heightened vitality!</h3>


      </div>

      <div class=" affblock5main_wrapper">

      <div class="block5_textwrapper">


          <h2>Did you know that sleep deprivation causes cortisol to add inches to your waist line? Great sleep is the secret to immediate weight loss and maintenance. Without proper sleep, your body cannot control your appetite. Vivacity’s nighttime supplement, Recover, provides you with an incredible night’s sleep and enough energy to jump out of bed each morning. Wake up refreshed and enthusiastic to face the challenges of a new day!</h2>

          <h3>Aloe Vera, Zeolite, Melatonin, Collagen, <br/>Raspberry Ketones,  5 HTP, Crystalloids Electrolytes</h3>

          <img src="../../assets/images/block5_text.png" class="block5_text">

      </div>

      <img src="../../assets/images/block5_img1.png" class="block5_img1">

      <a href="javascript:void(0)" class="block5btn">GET THE 24-HOUR CORE DYNAMICS<br/>
          SYSTEM RIGHT AWAY!</a>
      </div>
  </div>
</div>



<div class="container-fluid aff_block6">

  <div class="container affblock6wrapper">


      <div class="affblock6_heading">RECOVER: 100% all-natural ingredients</div>


      <div class="affblock6_con_wrapper">

          <div class="blok6_text1">
              <h2>Aloe Vera</h2>

              <img src="../../assets/images/block6_text1.png" class="block6_text1">
              <img src="../../assets/images/block6_img1.png" class="block6_img1">
              <h3>Promotes a gentle detoxification while boosting the body’s natural immunity. Reduces inflammation and boosts the body’s natural ability to resist illness.</h3>

          </div>


          <div class="blok6_text2">
              <h2>Zeolite </h2>
              <img src="../../assets/images/block6_text2.png" class="block6_text2">
              <img src="../../assets/images/block6_img2.png" class="block6_img2">
              <h3>
                  <label class="h3text4">Removes toxins, free radicals, and heavy metals from the body. Boosts the immune system
                      without side effects. This mineral balances the body’s pH. Foreign cells cannot grow in a balanced pH environment.</label>
              </h3>
          </div>


          <div class="blok6_text3">
              <h2>Melatonin </h2>

              <img src="../../assets/images/block6_text3.png" class="block6_text3">
              <img src="../../assets/images/block6_img3.png" class="block6_img3">
              <h3>
                  Prolongs the REM sleep cycle.
                  Anti-aging effects, antioxidant,
                  promotes hormonal balance,
                  and helps relieve
                  headaches.

              </h3>
               <div class="clearfix"></div>
          </div>
          

          <div class="blok6_text5_6_wrapper">
          <div class="blok6_text5">
              <h2>Raspberry Ketones </h2>

              <img src="../../assets/images/block6_text5.png" class="block6_text5">
              <img src="../../assets/images/block6_img4.png" class="block6_img4">

              <h3>
                  An amazing antioxidant that regulates glucose and breaks down body fat for increased weight loss.

              </h3>

          </div>
         

          </div>


          <div class="blok6_text7">
              <h2>5 HTP </h2>

              <img src="../../assets/images/block6_text6.png" class="block6_text6">
              <img src="../../assets/images/block6_img7.png" class="block6_img7">

              <h3>
                  Increases levels of Serotonin for better sleep and a <br>healthier appetite. Aids in weight loss, relieves
                  <br>migraines, reduces anxiety/depression, and helps <br>eliminate addictive <br>behaviors</h3>


          </div>

          <a href="javascript:void(0)" class="block6btn getmybottle">rush my order</a>

      </div>



  </div>

</div>




<div class="container-fluid aff_block10">
  <div class="container affblock10wrapper">
      <div class="aff_block10_heading">
          <h2>VIOSHIFT : <span>THE POWERFUL MIND AND BODY REVOLUTION</span></h2>
          <h3>ENHANCE YOUR MIND, TRANSFORM YOUR BODY - COMES FREE WITH YOUR BALANCE PROGRAM PURCHASE!</h3>
      </div>
      
      <div class="block7_text_con_newblock">

          <div class="container block7wrapper">

              <div class="block7_text_con_newblock_top">

                <!--  <h6>ENHANCE YOUR MIND, TRANSFORM YOUR BODY</h6>-->
                  <h4><p>Discover what you need to know to completely transform your  lifestyle and become the happy, vibrant, and successful person you want to be.<br><br></p>
                      <p> Develop deep knowledge and receive effective trainings from <br>experts in the industry on how to manage your physical health through <br>nutrition and develop a powerful, positive mindset that will allow you to <br>achieve great success in an area of your life.<br><br></p>
                      <p>Get instant access to both VioShift programs with any purchase of a <br>Vivacity product!</p>
                  </h4>

              </div>



              <div class="block7_text_con_newblock_bottom">

                  <div class="block7_text_newleft">

                      <h2>VIOPHAZE</h2>
                      <div class="h2devider"></div>
                      <ul>
                          <li>Advanced Nutrition Plans</li>
                          <li>Control Eating Habits</li>
                          <li> Lose Weight</li>
                          <li> Become Healthy</li>
                      </ul>

                  </div>

                  <div class="block7_text_newright">

                      <h2>VIOPHOTONICS </h2>
                      <div class="h2devider"></div>
                      <ul>
                          <li>Strengthen Willpower</li>
                          <li>Increase Mental Control</li>
                          <li>Gain Healthy Mindset</li>
                          <li>Practice Energetic Healing</li>
                      </ul>

                  </div>



                  <div class="clearfix"></div>
              </div>




          </div>


      </div>
  </div>
</div>




<div class="container-fluid aff_block8">

  <div class="container affblock8wrapper">

      <div class="affblock8_heading">
          <h2>WE ARE <span>OFFERING</span></h2>

          <h3>A 100% 30-Day, No-Risk, MONEY-BACK GUARANTEE!</h3>


      </div>

      <div class="block8_textwrapper">


          <div class="block8_textcon1">

              <h2><label class="labelclass">Our products are manufactured with the highest quality, all-natural ingredients at the clinically proven effective amounts. All Vivacity products are produced at highly respected <span>cGMP</span> certification (Current Good Manufacturing Practices) facilities.</label>



                  <label>Ensure satisfaction by trying our products completely risk-free! Vivacity products come with a <span>100% MONEY-BACK GUARANTEE</span>. Experience the difference that premium quality, science-backed formulations<br/>can make in your own health.</label></h2>



          </div>


          <img src="../../assets/images/block8_img1.png" class="block8_img1">
          <img src="../../assets/images/block8_img4.png" class="block8_img4">
          <img src="../../assets/images/block8_img3.png" class="block8_img3">

          <a href="javascript:void(0)" class="block8btn block8_block8btn">RUSH MY ORDER TODAY!</a>
      </div>



      </div>

  </div>



  <div class="container-fluid aff_block9">
      <div class="container affblock9wrapper">
          <div class="affblock9_heading">
              <h2><span>LOSE WEIGHT &</span> KEEP IT OFF FOR LIFE!</h2>

              <h3> Fall in love with your body!</h3>
          </div>
          <div class="rl_block6content">
              <div class="row">
                  <div class="col-md-12">
                      <div class="rl_block6contentdiv1">
                          <h1>MAINTAIN AND MANAGE YOUR SEXY</h1>
                          <h2>WITH THIS INCREDIBLE NEW SYSTEM!</h2>
                      </div>
                      <div class="btngetsuplimentnowwrapper">
                          <a class="btngetsuplimentnow scrlbtn"><h3>GET THE RECOVER SUPPLEMENT NOW!</h3></a>
                      </div>
                      <img src="../../assets/images/r1awrb6_img1.png" class="r1b6img1">
                      <img src="../../assets/images/r1awrb6_img2.png" class="r1b6img2">
                      <img src="../../assets/images/r1b6_img4.png" class="r1b6img4">
                      <div class="btnbuynowwrapper">
                          <a class="btnruchmyorder scrlbtn getmybottle">rush my order<!--rush my order--></a>
                      </div>
                      <img src="../../assets/images/r1b6_img3.png" class="r1b6img3">
                  </div>
              </div>
          </div>
          

      </div>