<mat-card class="home_block_new">
  <mat-card-content class="home_block_new_div2">
    <mat-card-content class="home_block_new_wrapper">
      <mat-card-content class="home_block_new_textcontain">
        <h2>Our funnel system developers and designers are some of the best in the industry. Click
          here now to go see a list of our most
          successful models</h2>
          <a [routerLink]="[ '/funnel' ]" class="home_blocknewlink">LEARN MORE</a>
      </mat-card-content>
    </mat-card-content>
  </mat-card-content>
</mat-card>